<div class="container">
    <button class="create" (click)="openForm()"><b>ДОДАТИ АКЦІЮ</b></button>
    <form class="add" [formGroup]="actionForm" (ngSubmit)="addAction()" *ngIf="formStatus">
        <input formControlName="name" name="title" type="text" placeholder="*Заголовок">
        <textarea formControlName="description" name="description" placeholder="*Опис"></textarea>
        <div class="add-img">
            <input name="file" id="file" type="file" (change)="upload($event)">
            <label for="file"></label>
        </div>
        <div class="prev-image" *ngIf="isUploaded">
            <div class="img-wrapper">
                <img [src]="valueByControl('imagePath')">
            </div>
            <p class="delete-img" (click)="deleteImage()">Видалити</p>
        </div>
        <button type="submit" [disabled]="actionForm.invalid"><b>{{ editStatus ? 'ЗБЕРЕГТИ' : 'ДОДАТИ' }}</b></button>
    </form>
    <table>
        <thead>
            <tr>
                <th>Дата</th>
                <th>Заголовок</th>
                <th>Опис</th>
                <th>Картинка</th>
                <th>Дії</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let action of adminActions">
                <td class="date">27.05</td>
                <td class="title">{{ action.name }}</td>
                <td class="description">{{ action.description | slice:0:150 }}
                    <span *ngIf="action.description.length > 150">...</span>
                </td>
                <td class="image">
                    <img [src]="action.imagePath">
                </td>
                <td class="actions">
                    <p (click)="editAction(action)">Редагувати</p>
                    <p (click)="deleteAction(action)">Видалити</p>
                </td>
            </tr>
        </tbody>
    </table>
</div>