@import '../../shared/styles/variables';
@import '../../shared/styles/mixins';

.container {
    width: 100%;
    overflow-x: auto;
    padding-left: 5px;

    @include screen-1024 {
        margin-top: 30px;
        padding: 0px;
    }

    .create {
        width: 350px;
        height: 70px;
        background-color: $main-color-red;
        border-radius: 8px;
        font-size: 20px;
        cursor: pointer;
        margin-bottom: 20px;
        color: white;

        @include screen-1024 {
            height: 50px;
            font-size: 18px;
        }

        @include screen-480 {
            width: 100%;
            height: 40px;
            font-size: 16px;
        }

        &:hover {
            background-color: $main-color-green;
        }
    }

    .add {
        width: 60%;

        @include screen-1440 {
            width: 70%;
        }

        @include screen-1280 {
            width: 80%;
        }

        @include screen-1024 {
            width: 90%;
        }

        @include screen-768 {
            width: 100%;
        }

        input[type=text] {
            width: 100%;
            height: 60px;
            border-radius: 8px;
            margin-right: 10px;
            border: 2px solid gray;
            padding-left: 10px;
            color: gray;
            font-size: 18px;

            @include screen-768 {
                height: 50px;
                font-size: 16px;
            }

            &:focus {
                border: 2px solid $main-color-green;
                box-shadow: 0px 0px 3px 3px $main-color-green;
            }
        }

        textarea {
            width: 100%;
            height: 200px;
            border-radius: 8px;
            border: 2px solid gray;
            padding: 10px;
            color: gray;
            font-size: 18px;
            margin-top: 20px;
            resize: none;

            @include screen-768 {
                font-size: 16px;
            }

            &:focus {
                border: 2px solid $main-color-green;
                box-shadow: 0px 0px 3px 3px $main-color-green;
            }
        }

        .add-img {
            height: 60px;
            border-radius: 8px;
            border: 2px solid gray;
            margin-top: 20px;
            padding: 16px;
            display: flex;

            input[type=file] {
                font-size: 14px;
            }
        }

        .prev-image {
            display: flex;
            align-items: center;
            margin-top: 20px;

            .img-wrapper {
                width: 20%;

                img {
                    width: 100%;
                }
            }

            .delete-img {
                color: $main-color-red;
                margin-left: 80px;
                font-weight: 600;
                font-size: 18px;
                cursor: pointer;
                position: relative;

                &::before {
                    content: "";
                    width: 100%;
                    height: 2px;
                    position: absolute;
                    left: 0px;
                    bottom: -3px;
                    background-color: $main-color-red;
                    transform: scaleX(0);
                    transition: 0.5s;
                }

                &:hover {
                    color: $main-color-red;
                }

                &:hover::before {
                    transform: scaleX(1);
                }
            }
        }

        button {
            width: 25%;
            height: 60px;
            border-radius: 8px;
            background-color: $main-color-red;
            font-size: 18px;
            cursor: pointer;
            margin-top: 20px;
            color: white;

            @include screen-1024 {
                height: 50px;
                font-size: 16px;
            }

            @include screen-480 {
                width: 100%;
                height: 40px;
            }

            &:hover {
                background-color: $main-color-green;
            }
        }
    }

    table {
        width: 100%;
        min-width: 800px;
        border-collapse: collapse;

        @include screen-768 {
            font-size: 14px;
        }

        thead {

            tr {
                height: 70px;

                @include screen-1024 {
                    height: 50px;
                }
            }

            th {
                text-align: left;
                border-bottom: 2px solid $main-color-green;
            }
        }

        tbody {

            tr {

                td {
                    border-bottom: 2px solid gray;
                }

                .date {
                    width: 9%;
                    line-height: 25px;
                }

                .title {
                    width: 18%;
                    line-height: 25px;
                    padding-right: 10px;
                }

                .description {
                    width: 47%;
                    line-height: 25px;
                    padding-right: 10px;
                }

                .image {
                    width: 12%;
                    padding: 10px 30px 10px 0px;

                    img {
                        width: 100%;
                    }
                }

                .actions {
                    width: 12%;

                    p {
                        color: $main-color-green;
                        font-weight: bold;
                        margin-bottom: 10px;
                        cursor: pointer;

                        &:hover {
                            color: $main-color-red;
                        }
                    }
                }
            }
        }
    }
}