@import '../../shared/styles/variables';
@import '../../shared/styles/mixins';

.sign-in {
    width: 600px;
    height: 500px;
    padding: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

    @include screen-768 {
        width: 100%;
        padding: 15px;
    }

    .close {
        width: 100%;
        text-align: right;
        font-size: 30px;
        cursor: pointer;
    }

    .title {
        font-size: 25px;
        font-weight: bolder;
        margin-bottom: 30px;
        position: relative;

        @include screen-768 {
            margin-bottom: 0px;
        }

        &::before {
            content: '';
            position: absolute;
            top: -10px;
            left: -32px;
            width: 30px;
            height: 26px;
            background: url(../../../assets/images/title-decor.svg);
            background-repeat: no-repeat;
            background-position: center;
            background-size: contain;
        }
    }

    mat-form-field {
        width: 100%;
    }

    .btn {
        width: 70%;
        height: 60px;
        font-size: 18px;
        background-color: $main-color-red;
        color: white;
        cursor: pointer;
        transition: 0.5s;

        @include screen-768 {
            width: 100%;
        }

        &:hover {
            background-color: $main-color-green;
        }
    }

    .to_register {

        @include screen-480 {
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        .text {
            color: gray;
        }

        .link {
            cursor: pointer;
            color: $main-color-red;

            &:hover {
                color: $main-color-green;
            }
        }
    }
}

.to-register {
    width: 600px;
    height: 650px;
    padding: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    overflow-y: auto;

    @include screen-768 {
        width: 100%;
        height: 100%;
        padding: 15px;
    }

    .close {
        width: 100%;
        text-align: right;
        font-size: 30px;
        cursor: pointer;

        @include screen-768 {
            font-size: 24px;
        }
    }

    .title {
        font-size: 25px;
        font-weight: bolder;
        margin-bottom: 30px;
        position: relative;

        @include screen-768 {
            margin-bottom: 10px;
            font-size: 18px;

        }

        &::before {
            content: '';
            position: absolute;
            top: -10px;
            left: -32px;
            width: 30px;
            height: 26px;
            background: url(../../../assets/images/title-decor.svg);
            background-repeat: no-repeat;
            background-position: center;
            background-size: contain;

            @include screen-480 {
                display: none;
            }
        }
    }

    .input-wrapper {
        width: 100%;
        display: flex;
        justify-content: space-between;

        @include screen-768 {
            flex-direction: column;
        }

        mat-form-field {
            width: 49%;

            @include screen-768 {
                width: 100%;
            }
        }
    }

    mat-form-field {
        width: 100%;
    }


    .link {
        font-size: 15px;
        cursor: pointer;
        color: $main-color-red;

        &:hover {
            color: $main-color-green;
        }
    }

    .btn {
        width: 70%;
        height: 60px;
        font-size: 18px;
        background-color: $main-color-red;
        cursor: pointer;
        color: white;
        transition: 0.5s;

        @include screen-768 {
            width: 100%;
            height: 30px;
            font-size: 16px;
        }

        &:hover {
            background-color: $main-color-green;
        }
    }

    .wrapper {
        width: 100%;
        display: flex;
        justify-content: center;

        @include screen-480 {
            flex-direction: column;
            align-items: center;
        }

        .text {
            font-size: 15px;
            color: gray;
        }

        .link {
            font-size: 15px;
            margin-left: 15px;
            cursor: pointer;
            text-align: center;
            color: $main-color-red;

            @include screen-480 {
                margin-left: 0px;
            }


            &:hover {
                color: $main-color-green;
            }
        }
    }
}