@import '../../shared/styles/variables';

.sign-in {
    width: 600px;
    height: 500px;
    padding: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

    .close {
        width: 100%;
        text-align: right;
        font-size: 30px;
        cursor: pointer;
    }

    .title {
        font-size: 25px;
        font-weight: bolder;
        margin-bottom: 30px;
        position: relative;

        &::before {
            content: '';
            position: absolute;
            top: -10px;
            left: -32px;
            width: 30px;
            height: 26px;
            background: url(../../../assets/images/title-decor.svg);
            background-repeat: no-repeat;
            background-position: center;
            background-size: contain;
        }
    }

    mat-form-field {
        width: 100%;
    }

    .btn {
        width: 70%;
        height: 60px;
        font-size: 18px;
        background-color: $main-color-red;
        color: white;
        cursor: pointer;
        transition: 0.5s;

        &:hover {
            background-color: $main-color-green;
        }
    }

    .text {
        color: gray;
    }

    .link {
        height: 30px;
        line-height: 30px;
        cursor: pointer;
        color: $main-color-red;

        &:hover {
            color: $main-color-green;
        }
    }
}

.to-register {
    width: 600px;
    height: 650px;
    padding: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

    .close {
        width: 100%;
        text-align: right;
        font-size: 30px;
        cursor: pointer;
    }

    .title {
        font-size: 25px;
        font-weight: bolder;
        margin-bottom: 30px;
        position: relative;

        &::before {
            content: '';
            position: absolute;
            top: -10px;
            left: -32px;
            width: 30px;
            height: 26px;
            background: url(../../../assets/images/title-decor.svg);
            background-repeat: no-repeat;
            background-position: center;
            background-size: contain;
        }
    }

    .input-wrapper {
        width: 100%;
        display: flex;
        justify-content: space-between;

        mat-form-field {
            width: 49%;
        }
    }

    mat-form-field {
        width: 100%;
    }


    .link {
        width: 45%;
        font-size: 15px;
        color: black;
        height: 30px;
        line-height: 30px;
        cursor: pointer;
        color: $main-color-red;

        &:hover {
            color: $main-color-green;
        }
    }

    .btn {
        width: 70%;
        height: 60px;
        font-size: 18px;
        background-color: $main-color-red;
        cursor: pointer;
        color: white;
        transition: 0.5s;

        &:hover{
            background-color: $main-color-green;
        }
    }

    .wrapper {
        width: 100%;
        display: flex;
        justify-content: center;

        .text {
            width: 35%;
            font-size: 15px;
            color: gray;
            height: 30px;
            line-height: 30px;
        }

        .link {
            width: 13%;
            font-size: 15px;
            height: 30px;
            line-height: 30px;
            cursor: pointer;
            text-align: center;
            color: $main-color-red;


            &:hover {
                color: $main-color-green;
            }
        }
    }
}