<div class="container">
    <button class="create" (click)="openForm()"><b>ДОДАТИ КАТЕГОРІЮ</b></button>
    <form class="add" [formGroup]="categoryForm" (ngSubmit)="addCategory()" *ngIf="formStatus">
        <input formControlName="name" name="name" type="text" placeholder="*Назва">
        <input formControlName="path" name="path" type="text" placeholder="*Шлях">
        <div class="add-img">
            <input name="file" id="file" type="file">
            <label for="file"></label>
        </div>
        <div class="prev-image">
            <div class="img-wrapper">
                <img src="../../../assets/images/kon-birra.jpg">
            </div>
            <p class="delete-img">Видалити</p>
        </div>
        <button type="submit" [disabled]="categoryForm.invalid"><b>{{ editStatus ? 'ЗБЕРЕГТИ' : 'ДОДАТИ' }}</b></button>
    </form>
    <table>
        <thead>
            <tr>
                <th>№</th>
                <th>Назва</th>
                <th>Шлях</th>
                <th>Картинка</th>
                <th>Дії</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let data of adminCategories">
                <td class="number"></td>
                <td class="name">{{ data.name }}</td>
                <td class="path">{{ data.path }}</td>
                <td class="image">
                    <img [src]="data.imagePath">
                </td>
                <td class="actions">
                    <p (click)="editCategory(data)">Редагувати</p>
                    <p (click)="deleteCategory(data)">Видалити</p>
                </td>
            </tr>
        </tbody>
    </table>
</div>