<div class="container">
    <div class="top">
        <div class="contact">
            <div class="logo">
                <img src="../../../assets/images/logo-pizza-red.svg" alt="">
            </div>
            <div class="phone">
                <a href="#">+38 097 18 306 18</a>
                <p>нд - чт 09:30 − 21:00</p>
                <p>пт - сб 09:30 − 22:00</p>
            </div>
            <div class="social">
                <a href="https://www.facebook.com/pizza.mammaitaliana">
                    <img src="../../../assets/images/i-facebook.svg" alt="">
                </a>
                <a href="https://www.instagram.com/_mapizza_/?igshid=NmNmNjAwNzg%3D">
                    <img src="../../../assets/images/i-instagram.svg" alt="">
                </a>
                <a href="https://www.youtube.com/watch?v=EkfysYf80Ak">
                    <img src="../../../assets/images/i-you-tube.svg" alt="">
                </a>
            </div>
            <div class="app">
                <p>Завантажуйте додаток</p>
                <div class="wrapper">
                    <a href="https://apps.apple.com/us/app/ma-pizza/id1596914596">
                        <img src="../../../assets/images/app-store-download.svg" alt="">
                    </a>
                    <a href="https://play.google.com/store/apps/details?id=com.mamaitaliano.app">
                        <img src="../../../assets/images/google-play-download.svg" alt="">
                    </a>
                </div>
            </div>
        </div>
        <div class="info"></div>
        <div class="info"></div>
        <div class="info"></div>
    </div>
    <div class="bottom"></div>
</div>
