@import "../../shared/styles/variables";
@import "../../shared/styles/mixins";

.container {
    width: 90%;
    height: 450px;
    margin: auto;

    .top {
        min-height: 85%;
        background-color: $background-color;
        border-radius: 16px;
        padding: 40px 60px;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;

        .contact {
            width: 25%;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            max-height: 100%;

            @include screen-1280 {
                width: 100%;
                flex-direction: row;
                flex-wrap: wrap;
                gap: 20px;
            }

            .logo {
                cursor: pointer;

                img {
                    max-width: 200px;
                    max-height: 56px;

                    @include screen-1600 {
                        max-width: 180px;
                        max-height: 42px;
                    }

                    @include screen-1280 {
                        max-width: 140px;
                        max-height: 32px;
                    }
                }
            }

            .phone {
                a {
                    color: $main-color-red;
                    font-weight: bolder;
                    cursor: pointer;
                    font-size: 19px;

                    &:hover {
                        color: $main-color-green;
                    }

                    @include screen-1280{
                        font-size: 16px;
                    }
                }

                p {
                    font-size: 14px;
                    color: gray;

                    @include screen-1280{
                        font-size: 12px;
                    }
                }

                @include screen-1280 {
                    order: 1;
                }
            }

            .social {
                display: flex;

                a {
                    width: 35px;
                    height: 35px;
                    background-color: $main-color-red;
                    border-radius: 50%;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    cursor: pointer;
                    transition: 0.5s;
                    margin-right: 10px;

                    &:hover {
                        background-color: $main-color-green;
                        animation: hover 0.5s;
                    }

                    @keyframes hover {
                        50% {
                            transform: scale(0.5)
                        }
                    }
                }
            }

            .app {
                display: flex;
                flex-direction: column;

                p {
                    font-size: 18px;
                    margin-bottom: 5px;

                    @include screen-1280{
                        font-size: 14px;
                    }
                }

                .wrapper {
                    display: flex;

                    a {
                        margin-right: 10px;

                        img {
                            width: 120px;
                        }
                    }
                }

                @include screen-1280 {
                    text-align: center;
                }
            }
        }

        .menu,
        .about-company {

            p {
                font-size: 18px;
                font-weight: bolder;
            }

            ul {
                list-style-type: none;
                font-size: 16px;

                li {
                    margin-top: 10px;
                    color: gray;
                    cursor: pointer;

                    &:hover {
                        color: $main-color-green;
                    }
                }
            }

            @include screen-768 {
                width: 100%;
            }
        }

        .address {

            p {
                font-size: 18px;
                font-weight: bolder;
            }

            ul {
                list-style-type: none;
                font-size: 16px;

                li {
                    margin-top: 10px;
                    color: gray;
                }
            }
        }

        @include screen-1024 {
            padding: 40px 20px;
        }

        @include screen-768 {
            gap: 20px;
        }
    }

    .bottom {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 10px 100px;

        .rights {
            color: gray;
        }

        .policy,
        .offer {
            cursor: pointer;
            color: gray;

            &:hover {
                color: $main-color-green;
            }
        }

        .payment {
            img {
                margin-right: 10px;
            }
        }

        .dev {
            a {
                text-decoration: none;
                color: gray;
                cursor: pointer;
                margin-right: 8px;

                &:hover {
                    color: $main-color-green;
                }
            }
        }

        @include screen-1280 {
            padding: 10px 50px;
        }

        @include screen-1024 {
            flex-direction: column;
            gap: 10px;
        }

        @include screen-480 {
            padding: 10px 0px;
        }
    }

    @include screen-1280 {
        width: 100%;
    }
}