<div class="container">
    <div class="top">
        <div class="contact">
            <div class="logo" [routerLink]="[ '' ]">
                <img src="../../../assets/images/logo-pizza-red.svg" alt="Логотип">
            </div>
            <div class="phone">
                <a href="#">+38 097 18 306 18</a>
                <p>нд - чт 09:30 − 21:00</p>
                <p>пт - сб 09:30 − 22:00</p>
            </div>
            <div class="social">
                <a href="https://www.facebook.com/pizza.mammaitaliana">
                    <img src="../../../assets/images/i-facebook.svg" alt="Facebook">
                </a>
                <a href="https://www.instagram.com/_mapizza_/?igshid=NmNmNjAwNzg%3D">
                    <img src="../../../assets/images/i-instagram.svg" alt="Instagram">
                </a>
                <a href="https://www.youtube.com/watch?v=EkfysYf80Ak">
                    <img src="../../../assets/images/i-you-tube.svg" alt="YouTube">
                </a>
            </div>
            <div class="app">
                <p>Завантажуйте додаток</p>
                <div class="wrapper">
                    <a href="https://apps.apple.com/us/app/ma-pizza/id1596914596">
                        <img src="../../../assets/images/app-store-download.svg" alt="App Store">
                    </a>
                    <a href="https://play.google.com/store/apps/details?id=com.mamaitaliano.app">
                        <img src="../../../assets/images/google-play-download.svg" alt="Google Play">
                    </a>
                </div>
            </div>
        </div>
        <div class="menu">
            <p>Меню:</p>
            <ul>
                <li>Піца</li>
                <li>Салати</li>
                <li>Десерти</li>
                <li>Напої</li>
            </ul>
        </div>
        <div class="about-company">
            <p>Про компанію:</p>
            <ul>
                <li [routerLink]="[ '/about-us' ]">Про нас</li>
                <li [routerLink]="[ '/dostavka' ]">Доставка та оплата</li>
                <li>Акції</li>
                <li [routerLink]="[ '/kontakty' ]">Контакти</li>
                <li [routerLink]="[ '/career' ]">Вакансії</li>
                <li>Новини</li>
                <li [routerLink]="[ '/faq' ]">FAQ</li>
            </ul>
        </div>
        <div class="address">
            <p>Львів:</p>
            <ul>
                <li>вул. Пасічна, 181</li>
                <li>просп. Червоної Калини, 60 (ТЦ Арсен)</li>
                <li>вул. Івана Пулюя, 12</li>
                <li>вул. Малоголосківська, 16</li>
                <li>вул. Китайська, 10</li>
                <li>вул. Івана Франка, 71</li>
                <li>вул. Залізнична, 19</li>
            </ul>
        </div>
    </div>
    <div class="bottom">
        <div class="rights">©2023 MA Pizza Всі права захищено</div>
        <div class="policy">Політика конфіденційності</div>
        <div class="offer">Оферта</div>
        <div class="payment">
            <img src="../../../assets/images/visa-card.svg" alt="Visa">
            <img src="../../../assets/images/master-card.svg" alt="Mastercard">
        </div>
        <div class="dev">
            <a href="https://github.com/Ivan-Ignatenko" target="_blank">Розробка сайтів</a>
            <span><b> NAVIIGNAT</b></span>
        </div>
    </div>
</div>