<div class="container">
    <div class="top">
        <div class="info">
            <a href="#">+38 097 18 306 18</a>
            <p>нд - чт 09:30 − 21:00</p>
            <p>пт - сб 09:30 − 22:00</p>
        </div>
        <nav class="pages" [ngClass]="{'isOpen': menuIsOpen}">
            <a [routerLink]="[ '' ]" class="main-page">Головна</a>
            <a [routerLink]="[ '/about-us' ]">Про нас</a>
            <a [routerLink]="[ '/dostavka' ]">Доставка та оплата</a>
            <a [routerLink]="[ '/actions' ]">Акції</a>
            <a [routerLink]="[ '/kontakty' ]">Контакти</a>
            <a [routerLink]="[ '/career' ]">Вакансії</a>
            <a [routerLink]="[ '/news' ]">Новини</a>
            <a [routerLink]="[ '/faq' ]">FAQ</a>
            <a [routerLink]="[ '/'+loginUrl ]" *ngIf="cabinetStatus">{{ loginPage }}</a>
        </nav>
        <div class="time-delivery">
            <img src="../../../assets/images/i-header-top.svg" alt="Доставка">
            <b> 29 хв</b>
            <span>- середній час доставки</span>
        </div>
        <div class="wrapper">
            <div class="favorites">
                <svg width="20" height="21" viewBox="0 0 20 21" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path
                        d="M10.5166 17.8416C10.2333 17.9416 9.76663 17.9416 9.48329 17.8416C7.06663 17.0166 1.66663 13.5749 1.66663 7.74159C1.66663 5.16659 3.74163 3.08325 6.29996 3.08325C7.81663 3.08325 9.15829 3.81659 9.99996 4.94992C10.8416 3.81659 12.1916 3.08325 13.7 3.08325C16.2583 3.08325 18.3333 5.16659 18.3333 7.74159C18.3333 13.5749 12.9333 17.0166 10.5166 17.8416Z"
                        stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
                </svg>
                <div class="count">0</div>
            </div>
            <div class="enter">
                <button (click)="openLoginDialog()" *ngIf="isLogin">
                    <svg width="20" height="21" viewBox="0 0 20 21" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path
                            d="M10 10.5001C12.3012 10.5001 14.1667 8.6346 14.1667 6.33341C14.1667 4.03223 12.3012 2.16675 10 2.16675C7.69885 2.16675 5.83337 4.03223 5.83337 6.33341C5.83337 8.6346 7.69885 10.5001 10 10.5001Z"
                            stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
                        <path
                            d="M17.1583 18.8333C17.1583 15.6083 13.95 13 10 13C6.05001 13 2.84167 15.6083 2.84167 18.8333"
                            stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
                    </svg>
                    Вхід
                </button>
                <p class="userName" *ngIf="!isLogin">{{ loginPage }}</p>
            </div>
            <div class="enter_small_screen" (click)="openLoginDialog()">
                <svg width="30" height="30" viewBox="0 0 20 21" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path
                        d="M10 10.5001C12.3012 10.5001 14.1667 8.6346 14.1667 6.33341C14.1667 4.03223 12.3012 2.16675 10 2.16675C7.69885 2.16675 5.83337 4.03223 5.83337 6.33341C5.83337 8.6346 7.69885 10.5001 10 10.5001Z"
                        stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
                    <path d="M17.1583 18.8333C17.1583 15.6083 13.95 13 10 13C6.05001 13 2.84167 15.6083 2.84167 18.8333"
                        stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
                </svg>
            </div>
            <div class="basket_small_screen" (click)="showModal()">
                <div class="wrapper">
                    <svg width="30" height="30" viewBox="0 0 30 30" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path
                            d="M9.375 9.58739V8.37489C9.375 5.56239 11.6375 2.79989 14.45 2.53739C17.8 2.21239 20.625 4.84989 20.625 8.13739V9.86239"
                            stroke="#212721" stroke-width="1.5" stroke-miterlimit="10" stroke-linecap="round"
                            stroke-linejoin="round"></path>
                        <path
                            d="M11.25 27.5H18.75C23.775 27.5 24.675 25.4875 24.9375 23.0375L25.875 15.5375C26.2125 12.4875 25.3375 10 20 10H10C4.66253 10 3.78753 12.4875 4.12503 15.5375L5.06253 23.0375C5.32503 25.4875 6.22503 27.5 11.25 27.5Z"
                            stroke="#212721" stroke-width="1.5" stroke-miterlimit="10" stroke-linecap="round"
                            stroke-linejoin="round"></path>
                        <path d="M19.3694 15H19.3806" stroke="#212721" stroke-width="2" stroke-linecap="round"
                            stroke-linejoin="round"></path>
                        <path d="M10.6181 15H10.6294" stroke="#212721" stroke-width="2" stroke-linecap="round"
                            stroke-linejoin="round"></path>
                    </svg>
                    <div class="sum">{{ totalCount }}</div>
                </div>
            </div>
            <div id="menu" (click)="openSmallMenu()">
                <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 16 16">
                    <path
                        d="M2.5 12a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5z" />
                </svg>
            </div>
        </div>
    </div>
    <div class="bottom">
        <a class="header-logo" [routerLink]="[ '' ]">
            <img src="../../../assets/images/logo-pizza-red.svg" alt="Логотип">
        </a>
        <div class="menu-list">
            <div class="category" *ngFor="let category of categories">
                <a [routerLink]="[ '/product/', category.path ]" routerLinkActive="active">
                    <img [src]="category.imagePath" [alt]="category.name">
                    <p>{{ category.name }}</p>
                </a>
            </div>
        </div>
        <div class="basket" (click)="showModal()">
            <div class="wrapper">
                <svg width="30" height="30" viewBox="0 0 30 30" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path
                        d="M9.375 9.58739V8.37489C9.375 5.56239 11.6375 2.79989 14.45 2.53739C17.8 2.21239 20.625 4.84989 20.625 8.13739V9.86239"
                        stroke="#212721" stroke-width="1.5" stroke-miterlimit="10" stroke-linecap="round"
                        stroke-linejoin="round"></path>
                    <path
                        d="M11.25 27.5H18.75C23.775 27.5 24.675 25.4875 24.9375 23.0375L25.875 15.5375C26.2125 12.4875 25.3375 10 20 10H10C4.66253 10 3.78753 12.4875 4.12503 15.5375L5.06253 23.0375C5.32503 25.4875 6.22503 27.5 11.25 27.5Z"
                        stroke="#212721" stroke-width="1.5" stroke-miterlimit="10" stroke-linecap="round"
                        stroke-linejoin="round"></path>
                    <path d="M19.3694 15H19.3806" stroke="#212721" stroke-width="2" stroke-linecap="round"
                        stroke-linejoin="round"></path>
                    <path d="M10.6181 15H10.6294" stroke="#212721" stroke-width="2" stroke-linecap="round"
                        stroke-linejoin="round"></path>
                </svg>
                <p><b>{{ total }}</b> грн</p>
                <div class="sum">{{ totalCount }}</div>
            </div>
        </div>
    </div>
</div>
<div class="basket-info" [ngClass]="{'showBasket': isBasket}">
    <div class="basket-info-header">
        <p class="title">Кошик</p>
    </div>
    <button class="close-basket" (click)="showModal()"></button>
    <div class="basket-info-content">
        <ng-template #fullBasket>
            <div class="product-card" *ngFor="let product of basket">
                <div class="img-wrapper">
                    <img [src]="product.imagePath" [alt]="product.name">
                </div>
                <div class="product-info">
                    <div class="top">
                        <p class="name">{{ product.name }}</p>
                        <img class="trash" src="../../../assets/images/trash-solid.svg" alt="trash">
                    </div>
                    <div class="bottom">
                        <p class="price">{{ product.price }} грн</p>
                        <div class="select-quantity">
                            <button class="minus" (click)="productCount(product, false)">-</button>
                            <input class="count" type="text" [value]="product.count">
                            <button class="plus" (click)="productCount(product, true)">+</button>
                        </div>
                        <p class="price">{{ product.price * product.count }} грн</p>
                    </div>
                </div>
            </div>
        </ng-template>
        <div class="empty-basket" *ngIf="emptyBasket; else fullBasket">
            <p><b>Кошик порожній</b></p>
            <button [routerLink]="[ '/']"><b>ПЕРЕЙТИ ДО КАТАЛОГУ</b></button>
        </div>
    </div>
    <div class="basket-info-bottom">
        <p class="total-price"><span>Сума: </span> <span>{{ total }} грн</span></p>
        <button class="do-ordering" [routerLink]="[ '/basket' ]" (click)="showModal()">ОФОРМИТИ
            ЗАМОВЛЕННЯ</button>
    </div>
</div>
<div class="modal" [ngClass]="{'showModal': isModal}" (click)="showModal()"></div>