@import '../../shared/styles/variables';
@import '../../shared/styles/mixins';

%flex {
    display: flex;
    align-items: center;
    justify-content: center;
}

.container {
    width: 90%;
    margin: 0 auto;
    position: sticky;
    top: -70px;
    z-index: 99;

    .top {
        height: 70px;
        padding: 0px 10px 0px 30px;
        display: flex;
        justify-content: space-between;
        align-items: center;

        .info {
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;

            a {
                font-size: 19px;
                font-weight: bolder;
                text-decoration: none;
                color: $main-color-red;
                white-space: nowrap;

                &:hover {
                    color: $main-color-green;
                }

                @include screen-768 {
                    display: none;
                }
            }

            p {
                font-size: 14px;
                color: gray;

                @include screen-1280 {
                    display: none;
                }
            }

            @include screen-768 {
                width: 115px;
                height: 27px;
                background-image: url(../../../assets/images/logo-pizza-red.svg);
                background-size: 100%;
            }
        }

        .pages {
            display: flex;
            align-items: center;

            a {
                cursor: pointer;
                padding: 0 12px;
                color: inherit;

                &:hover {
                    color: $main-color-green;
                }

                @include screen-1600 {
                    padding: 0 8px;
                }
            }

            .main-page {
                display: none;
            }

            @include screen-1440 {
                opacity: 0;
                position: absolute;
                top: 70px;
                right: 0px;
                z-index: 16;
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                background: #fff;
                border-radius: 5px;
                padding: 15px;
                box-shadow: $box-shadow;
                overflow: hidden;
                transform: translateY(-130%);
                transition: .5s;

                .main-page {
                    display: block;
                }

                a {
                    color: inherit;
                    margin-bottom: 10px;

                    &:hover {
                        color: $main-color-green;
                    }
                }
            }
        }

        .isOpen {
            opacity: 1;
            transform: translateY(0%);
        }

        .time-delivery {
            display: flex;
            align-items: center;

            b {
                color: $main-color-green;
            }

            @include screen-1600 {
                font-size: 14px;
            }

            @include screen-1440 {
                display: none;
            }
        }

        .wrapper {
            display: flex;
            justify-content: space-around;

            .favorites {
                margin-right: 25px;
                display: flex;
                align-items: center;
                position: relative;

                svg {
                    cursor: pointer;
                    stroke: black;

                    &:hover {
                        stroke: $main-color-green;
                    }
                }

                .count {
                    width: 25px;
                    height: 25px;
                    background-color: $main-color-red;
                    border-radius: 50%;
                    color: white;
                    text-align: center;
                    line-height: 25px;
                    position: absolute;
                    top: -2px;
                    left: 12px;
                    font-size: 14px;

                    @include screen-1280 {
                        top: -6px;
                    }
                }
            }

            .enter {
                width: 100px;
                @extend %flex;

                button {
                    width: 80px;
                    height: 40px;
                    background-color: $main-color-red;
                    border-radius: 12px;
                    color: white;
                    @extend %flex;
                    font-size: 14px;
                    cursor: pointer;
                    transition: 0.5s;

                    svg {
                        stroke: white;
                        margin-right: 5px;
                    }

                    &:hover {
                        background-color: $main-color-green;
                    }
                }

                .userName {
                    font-size: 22px;
                    font-weight: 600;
                    color: $main-color-green;
                    position: relative;

                    &::before {
                        content: '';
                        position: absolute;
                        top: -15px;
                        left: -26px;
                        width: 30px;
                        height: 30px;
                        background: url(../../../assets/images/title-decor.svg);
                        background-repeat: no-repeat;
                        background-position: center;
                        background-size: contain;
                    }
                }

                @include screen-1440 {
                    display: none;
                }
            }

            .enter_small_screen {
                display: none;
                stroke: black;
                align-items: center;
                margin-right: 10px;
                cursor: pointer;

                @include screen-1440 {
                    display: flex;
                }
            }

            .basket_small_screen {
                display: none;
                @extend %flex;
                cursor: pointer;

                .wrapper {
                    @extend %flex;
                    position: relative;

                    .sum {
                        width: 25px;
                        height: 25px;
                        background-color: $main-color-red;
                        border-radius: 50%;
                        color: white;
                        text-align: center;
                        line-height: 25px;
                        position: absolute;
                        bottom: 16px;
                        left: 16px;
                        font-size: 14px;
                    }
                }

                @include screen-1440 {
                    display: flex;
                    margin-right: 16px;
                }
            }

            #menu {
                display: none;
                cursor: pointer;

                @include screen-1440 {
                    display: flex;
                    align-items: center;
                }
            }
        }

        @include screen-1440 {
            padding: 0px 30px;
        }

        @include screen-768 {
            padding: 0px 5px;
        }

        @include screen-480 {
            background-color: $background-color;
        }
    }

    .bottom {
        background-color: $background-color;
        border-radius: 16px;
        display: flex;
        justify-content: space-between;
        position: sticky;
        top: 0;
        padding: 20px 30px;

        .header-logo {
            width: 20%;
            @extend %flex;

            img {
                max-width: 100%;
                cursor: pointer;
            }

            @include screen-768 {
                display: none;
            }
        }

        .menu-list {
            width: 70%;
            display: flex;
            justify-content: space-around;

            .category {
                width: 24%;
                @extend %flex;
                flex-direction: column;
                text-align: center;
                position: relative;
                cursor: pointer;
                padding-bottom: 5px;

                a {
                    color: inherit;
                }

                p {
                    text-transform: uppercase;
                }

                img {
                    margin-bottom: 6px;

                    @include screen-480 {
                        display: none;
                    }
                }

                &::before {
                    content: "";
                    width: 100%;
                    height: 3px;
                    position: absolute;
                    left: 0px;
                    bottom: 0px;
                    background-color: $main-color-green;
                    transform: scaleX(0);
                    transition: 0.5s;

                    @include screen-480 {
                        display: none;
                    }
                }

                &:hover p {
                    color: $main-color-green;
                }

                &:hover::before {
                    transform: scaleX(1);
                }
            }

            @include screen-768 {
                width: 100%;
            }
        }

        .basket {
            @extend %flex;
            cursor: pointer;

            .wrapper {
                @extend %flex;
                position: relative;

                p {
                    margin-left: 20px;
                }

                .sum {
                    width: 25px;
                    height: 25px;
                    background-color: $main-color-red;
                    border-radius: 50%;
                    color: white;
                    text-align: center;
                    line-height: 25px;
                    position: absolute;
                    bottom: 16px;
                    left: 16px;
                    font-size: 14px;
                }
            }

            @include screen-1440 {
                display: none;
            }
        }

        @include screen-480 {
            background-color: white;
            padding: 20px 10px;
            box-shadow: 0px 10px 5px 5px $background-color;
        }
    }

    .active {

        & p {
            color: $main-color-green;
        }

        &::before {
            content: "";
            width: 100%;
            height: 3px;
            position: absolute;
            left: 0px;
            bottom: 0px;
            background-color: $main-color-green;
            transform: scaleX(1);

            @include screen-480 {
                display: none;
            }
        }
    }

    @include screen-1280 {
        width: 100%;
    }
}

.basket-info {
    position: fixed;
    z-index: 120;
    right: 0;
    top: 0;
    bottom: 0;
    width: 540px;
    margin: 15px;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    transform: translateX(130%);
    transition: .5s;
    border: 1px solid black;
    background-color: white;

    @include screen-768 {
        width: 100%;
        height: 100%;
        margin: 0px;
        border-radius: 0px;
    }

    .basket-info-header {
        padding: 20px;
        border-bottom: 1px solid $border-color;
        text-align: center;
        height: 74px;
        position: relative;

        .title {
            font-size: 25px;
            font-weight: 600;
            line-height: 1.33em;
            position: relative;
            display: inline-block;

            &::before {
                content: '';
                position: absolute;
                top: 0;
                left: -35px;
                width: 30px;
                height: 26px;
                background: url(../../../assets/images/title-decor.svg);
                background-repeat: no-repeat;
                background-position: center;
                background-size: contain;
            }
        }
    }

    .close-basket {
        background: none;
        position: absolute;
        top: 20px;
        right: 18px;
        width: 24px;
        height: 24px;
        cursor: pointer;

        &:after {
            content: '';
            position: absolute;
            top: 50%;
            left: 50%;
            width: 80%;
            height: 2px;
            background: black;
            transform: translate(-50%, -50%) rotate(45deg);
        }

        &::before {
            content: '';
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%) rotate(-45deg);
            width: 80%;
            height: 2px;
            background: black;
        }
    }

    .basket-info-content {
        padding: 0 15px;
        display: flex;
        flex-direction: column;
        height: calc(100% - 62px);
        overflow: auto;
        scrollbar-width: thin;

        .product-card {
            display: flex;
            align-items: center;
            justify-content: flex-start;
            flex-shrink: 0;
            padding: 20px 0;
            border-bottom: 1px solid $border-color;

            .img-wrapper {
                width: 120px;
                overflow: hidden;

                img {
                    max-width: 100%;
                    max-height: 100%;
                }
            }

            .product-info {
                padding: 0 0 0 15px;
                width: 100%;

                .top {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;

                    .name {
                        font-size: 20px;
                        line-height: 1.5em;
                        font-weight: 600;
                        overflow: hidden;

                        @include screen-480 {
                            font-size: 16px;
                        }
                    }

                    .trash {
                        width: 14px;
                        height: 14px;
                        cursor: pointer;
                    }
                }

                .bottom {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    margin-top: 10px;

                    @include screen-480 {
                        & .price {
                            font-size: 14px;
                        }
                    }

                    .select-quantity {
                        display: flex;
                        align-items: center;
                        border: 1px solid $border-color;
                        border-radius: 12px;

                        .plus {
                            width: 39px;
                            height: 34px;
                            font-size: 16px;
                            border-radius: 0px 12px 12px 0px;
                            cursor: pointer;
                            background-color: white;
                            transition: 0.4s;

                            &:hover {
                                background-color: $background-color;
                                color: $main-color-green;
                            }

                            @include screen-480 {
                                width: 30px;
                                height: 28px;
                            }
                        }

                        .minus {
                            width: 39px;
                            height: 34px;
                            font-size: 16px;
                            border-radius: 12px 0px 0px 12px;
                            cursor: pointer;
                            background-color: white;
                            transition: 0.4s;

                            &:hover {
                                background-color: $background-color;
                                color: $main-color-green;
                            }

                            @include screen-480 {
                                width: 30px;
                                height: 28px;
                            }
                        }

                        .count {
                            width: 40px;
                            height: 24px;
                            font-size: 16px;
                            font-weight: 400;
                            text-align: center;
                            border-right: 1px solid $border-color;
                            border-left: 1px solid $border-color;

                            @include screen-480 {
                                width: 26px;
                                height: 22px;
                            }
                        }
                    }
                }
            }
        }

        .empty-basket {
            padding: 15px 0;
            margin: auto 0;
            text-align: center;

            p {
                line-height: 1.5em;
                font-size: 18px;
                font-weight: 600;
                margin-bottom: 15px;
            }

            button {
                color: white;
                background-color: $main-color-red;
                border-radius: 12px;
                font-size: 12px;
                padding: 12px 25px;
                cursor: pointer;
                transition: .5s;

                &:hover {
                    background-color: $main-color-green;
                }
            }
        }
    }

    .basket-info-bottom {
        height: 62px;
        padding: 10px 15px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        border-top: 1px solid $border-color;

        .total-price {
            font-size: 20px;
            color: gray;

            @include screen-480 {
                font-size: 16px;

                & span {
                    display: block;
                }
            }
        }

        .do-ordering {
            line-height: 1.45em;
            font-weight: 600;
            cursor: pointer;
            color: white;
            background-color: $main-color-red;
            border-radius: 12px;
            font-size: 12px;
            padding: 12px 25px;
            transition: .5s;

            &:hover {
                background-color: $main-color-green;
            }
        }
    }
}

.modal {
    opacity: 0;
    visibility: hidden;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 119;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, .41);
    transition: .5s;
}

.showBasket {
    transform: translateX(0);
}

.showModal {
    visibility: visible;
    opacity: 1;
    backdrop-filter: blur(2px);
}