<div class="container">
    <div class="top">
        <div class="info">
            <a href="#">+38 097 18 306 18</a>
            <p>нд - чт 09:30 − 21:00</p>
            <p>пт - сб 09:30 − 22:00</p>
        </div>
        <nav class="pages">
            <p>Про нас</p>
            <p>Доставка та оплата</p>
            <p>Акції</p>
            <p>Контакти</p>
            <p>Вакансії</p>
            <p>Новини</p>
            <p>FAQ</p>
        </nav>
        <div class="time-delivery">
            <img src="../../../assets/images/i-header-top.svg" alt="">
            <b> 29 хв</b>
            <span>- середній час доставки</span>
        </div>
        <div class="favorites">
            <img src="../../../assets/images/158722.png" alt="">
        </div>
        <div class="enter">
            <button>
                Вхід</button>
        </div>
    </div>
    <div class="bottom"></div>
</div>
