<div class="container">
    <div class="title">Акції</div>
    <div class="discounts">
        <div class="discount-item" *ngFor="let data of userActions">
            <a href="#" [routerLink]="[ '/actions', data.id ]" class="discount-item-img">
                <img [src]="data.imagePath" alt="Акція">
            </a>
            <div class="discount-item-info">
                <a href="#" [routerLink]="[ '/actions', data.id ]"
                    class="discount-item-title">{{ data.title }}</a>
                <p class="discount-item-text">{{ data.description }}</p>
                <a href="#" [routerLink]="[ '/actions', data.id ]"
                    class="discount-link"><span>ДІЗНАТИСЯ БІЛЬШЕ</span><i></i></a>
            </div>
        </div>
    </div>
</div>