<div class="container">
    <div class="title">Новини</div>
    <div class="news">
        <div class="news-item">
            <a href="#" target="_blank" class="news-item-img">
                <img src="../../../assets/images/photo_2023-05-29_13-13-00-734x415.jpg" alt="Факти про піцу">
            </a>
            <div class="news-item-info">
                <a href="#" target="_blank"
                    class="news-item-title">Бонусна програма</a>
                <p class="news-item-text">У нас є приголомшлива бонусна програма для вас, завдяки якій ви можете
                    отримувати кешбек (бонуси) за покупки на сайті. Бонуси ви зможете використати для оплати своїх
                    наступних замовлень на сайті. Використовуйте всі переваги нашої бонусної програми! Пройдіть
                    реєстрацію або увійдіть в особистий кабінет, щоб накопичувати бонуси та використовувати за покупки
                </p>
                <a href="#" target="_blank"
                    class="news-link"><span>ДІЗНАТИСЯ БІЛЬШЕ</span><i></i></a>
            </div>
        </div>
        <div class="news-item">
            <a href="#" target="_blank" class="news-item-img">
                <img src="../../../assets/images/21-588x415.png" alt="Дієтична піца">
            </a>
            <div class="news-item-info">
                <a href="#" target="_blank" class="news-item-title">Акція 2+1 – з
                    понеділка по четвер</a>
                <p class="news-item-text">Замовляйте доставку у Mamma Italiana з понеділка по четвер та користуйтесь
                    акцією 2+1. Отримуєте 3 піци, а платите всього за дві! Знижка надається на найдешевшу з обраних піц
                    у замовленні. Акція розповсюджується на всі піци у меню. Акція 2+1 не сумується з іншими акціями та
                    знижками і не розповсюджується на самовивіз.
                </p>
                <a href="#" target="_blank" class="news-link"><span>ДІЗНАТИСЯ
                        БІЛЬШЕ</span><i></i></a>
            </div>
        </div>
    </div>
</div>