<div class="container">
    <div class="title">Новини</div>
    <div class="news">
        <div class="news-item">
            <a href="https://mapizza.com.ua/czikavi-fakty-pro-pizzu/" target="_blank" class="news-item-img">
                <img src="../../../assets/images/czikavi-fakty-pro-piczu-scaled-622x415.webp" alt="Факти про піцу">
            </a>
            <div class="news-item-info">
                <a href="https://mapizza.com.ua/czikavi-fakty-pro-pizzu/" target="_blank" class="news-item-title">Цікаві
                    факти про піцу</a>
                <p class="news-item-text">Найпопулярніша у світі страва, піца є ідеальним, неповторним шедевром
                    кулінарії. Як і кожен витвір мистецтва вона має свої таємниці, котрими володіють лише професійні
                    піцайоли. Але от цікаві факти про піцу ні від кого в секреті не втримати. Їх є так багато, що
                    дивувати знайомих оригінальними історіями про цю страву можна щодня. Дізнаймось, які ваша улюблена
                    […]</p>
                <a href="https://mapizza.com.ua/czikavi-fakty-pro-pizzu/" target="_blank"
                    class="news-link"><span>ДІЗНАТИСЯ БІЛЬШЕ</span><i></i></a>
            </div>
        </div>
        <div class="news-item">
            <a href="https://mapizza.com.ua/diyetychna-pizza/" target="_blank" class="news-item-img">
                <img src="../../../assets/images/diyetychna-picza1-scaled-622x415.webp" alt="Дієтична піца">
            </a>
            <div class="news-item-info">
                <a href="https://mapizza.com.ua/diyetychna-pizza/" target="_blank" class="news-item-title">Дієтична
                    піца: вигадка чи реальність?</a>
                <p class="news-item-text">Часто чуємо думку, що піца – то страшенно шкідлива їжа. Саме тому сьогодні все
                    більш популярними стає дієтична піца. Адже це дарує можливість насолодитись смачною, корисною
                    стравою. Рецепти дієтичної піци є на кожному кроці, а тому обрати необхідний можна з легкістю.
                    Найчастіше усі вважають, наче калорійність піци ховається у її тісті – такому ніжному, хрусткому […]
                </p>
                <a href="https://mapizza.com.ua/diyetychna-pizza/" target="_blank" class="news-link"><span>ДІЗНАТИСЯ
                        БІЛЬШЕ</span><i></i></a>
            </div>
        </div>
        <div class="news-item">
            <a href="https://mapizza.com.ua/den-pizzy/" target="_blank" class="news-item-img">
                <img src="../../../assets/images/den-piczy1-scaled-622x415.webp" alt="День піци">
            </a>
            <div class="news-item-info">
                <a href="https://mapizza.com.ua/den-pizzy/" target="_blank" class="news-item-title">День піци – справжнє
                    свято?</a>
                <p class="news-item-text">Щороку 9 лютого увесь світ відзначає Міжнародний день піци. Незважаючи на те,
                    що ця страва є італійською, нею захоплюються і в інших країнах. Мільйони людей у всьому світі
                    обожнюють піцу: ніжне тонке тісто, запечені краї, пряний сир та неповторну начинку. А в День піци її
                    готують так багато, що можна нагодувати ледь не усе населення […]</p>
                <a href="https://mapizza.com.ua/den-pizzy/" target="_blank" class="news-link"><span>ДІЗНАТИСЯ
                        БІЛЬШЕ</span><i></i></a>
            </div>
        </div>
        <div class="news-item">
            <a href="https://mapizza.com.ua/vydy-pizzy/" target="_blank" class="news-item-img">
                <img src="../../../assets/images/vydy-piczy-n-scaled-622x415.webp" alt="Види піци">
            </a>
            <div class="news-item-info">
                <a href="https://mapizza.com.ua/vydy-pizzy/" target="_blank" class="news-item-title">Види піци: Як
                    обрати найсмачнішу?</a>
                <p class="news-item-text">Піца – унікальна, неповторна, ідеальна страва. Вона користується популярністю
                    не лише в Італії, але й у всьому світі. Різноманітні види піци дозволяють знайти улюблену на свій
                    смак. Гостру, вершкову, освіжаючу, мегам’ясну, рибну – який би вид піци ви не пробували, MA Pizza
                    впевнена – це буде любов з першого шматочка. Класичні види піци Тонке тісто […]</p>
                <a href="https://mapizza.com.ua/vydy-pizzy/" target="_blank" class="news-link"><span>ДІЗНАТИСЯ
                        БІЛЬШЕ</span><i></i></a>
            </div>
        </div>
    </div>
</div>