<div class="container">
    <div class="title">Політика конфіденційності</div>
    <div class="text">
        <p>Ця політика конфіденційності (надалі – Правила) створена адміністрацією веб-сайту <a
                href="https://mapizza.com.ua" target="_blank">https://mapizza.com.ua</a>
            (надалі – Сайт) з метою визначення порядку та правил поводження з персональними даними та/або іншими даними
            (надалі – Дані) наданими користувачем та/або відвідувачем (надалі – Користувач) Сайту.</p>
        <p>&nbsp;</p>
        <p><strong>1. ЗАГАЛЬНІ ПОЛОЖЕННЯ.</strong></p>
        <p>Використання Користувачем Сайту означає його безумовну згоду з цими Правилами та умовами обробки Даних
            Користувача.</p>
        <p>У разі незгоди з умовами Правил, Користувач повинен припинити використання Сайту.</p>
        <p>Правила застосовуються лише до цього Сайту. Адміністрація Сайту не контролює і не несе відповідальність за
            сайти третіх осіб, на які Користувач може перейти по посиланню, яке доступне на Сайті.</p>
        <p>Адміністрація сайту не перевіряє достовірність Даних, які надаються Користувачем Сайту.</p>
        <p>Погоджуючись з цими Правилами, Користувач дає дозвіл на збирання, зберігання, використання та розголошення
            своїх Даних, відповідно до цих Правил, Закону України «Про захист прав споживачів», Закону України «Про
            захист персональних даних», Закону України «Про захист інформації в інформаційно-телекомунікаційних
            системах».</p>
        <p>&nbsp;</p>
        <p><strong>2. ЦІЛІ ЗБОРУ ДАНИХ КОРИСТУВАЧА.</strong></p>
        <p>Дані Користувача є інформацією з обмеженим доступом...</p>
        <p><a href="https://mapizza.com.ua/privacy-policy/" target="_blank">ЧИТАТИ БІЛЬШЕ</a></p>
    </div>
</div>