<div class="container">
    <div class="title">Договір публічної оферти</div>
    <div class="text">
        <p>Цей Договір публічної оферти є офіційною та публічною пропозицією укласти договір купівлі-продажу Товару,
            представленого в закладах (ресторанах) Продавця та/або на веб-сайті: <a href="https://mapizza.com.ua/"
                target="_blank">https://mapizza.com.ua/</a>. Договір є
            публічним, тобто відповідно до статей 633, 641, 642 Цивільного кодексу України, його умови є однаковими для
            всіх Покупців незалежно від їх статусу (фізична особа, юридична особа, фізична особа-підприємець) без
            надання переваги одному покупцю перед іншим. Факт здійснення Покупцем Замовлення в будь-якій усній та/або
            будь-якій електронній формі та отримання такого замовлення Продавцем є повним та безперечним прийняттям
            цього Договору публічної оферти та інформації, викладеної на веб-сайті: <a href="https://mapizza.com.ua/"
                target="_blank">https://mapizza.com.ua/</a>. Цей Договір
            публічної оферти вважається укладеним з моменту натискання кнопки «ОФОРМИТИ ЗАМОВЛЕННЯ» в розділі «Кошик» на
            веб-сайті: <a href="https://mapizza.com.ua/" target="_blank">https://mapizza.com.ua/</a> або оформлення
            Замовлення через телефон і отримання Покупцем від Продавця
            (не залежно від форми замовлення) підтвердження Замовлення через оператора кол-центру Продавця.</p>
        <p><strong>1.ЗАГАЛЬНІ ПОЛОЖЕННЯ ТА ТЕРМІНИ.</strong></p>
        <p>1.1. Купівля Товарів, що представлені на Веб-сайті Продавця, передбачає згоду особи, яка купує Товар, з
            правилами, строками, обмеженнями та іншими умовами співпраці, викладеними в Договорі.</p>
        <p>1.2. Приймаючи умови цього Договору, Покупець підтверджує, що:</p>
        <ul>
            <li>інформація, що надається під час замовлення Товарів є правильною та актуальною;</li>
            <li>надана контактна інформація може бути використана з метою повідомлення про зміни в роботі, акційні
                пропозиції чи надання іншої інформації, пов’язаної з діяльністю Продавця.</li>
        </ul>
        <p><strong class="decoration">Якщо Ви не погоджуєтесь з умовами цього Договору, будь ласка, не оформлюйте та не підтверджуйте Замовлення,
            не здійснюйте передплату за Замовлення!</strong></p>
        <p><strong>Якщо Вам не зрозуміло умови цього Договору, будь ласка, зверніться з Вашим питанням до нас за електронною
            адресою: <a href="mamaitalianopizza@gmail.com" target="_blank">mamaitalianopizza@gmail.com</a> або за номером телефоном +38 097 18 306 18.</strong></p>
        <p>1.3. У цьому Договорі нижченаведені терміни вживаються у наступному значенні:</p>
        <p><strong>«Договір публічної оферти»</strong> або <strong>«Договір»</strong> — цей публічний договір, зразок
            якого розміщений на Веб-сайті
            Продавця. Договір передбачає публічну пропозицію Продавця, адресовану будь-якій фізичній особі та/або
            юридичній особі та/або фізичній особі-підприємцю з метою укласти договір купівлі-продажу на існуючих умовах,
            зазначених у Договорі.</p>
        <p><strong>«Товар»</strong> — перелік найменувань асортименту, представлений на Веб-сайті Продавця та/або у
            закладах (ресторанах) Продавця (МА Pizza).</p>
        <p><strong>«Продавець»</strong> — група ресторанів МА Pizza, які реалізують Товар, представлений на Веб-сайті
            Продавця та безпосередньо у закладах (ресторанах) МА Pizza.</p>
        <p>Юридична інформація Продавця:</p>
        <p>ФІЗИЧНА ОСОБА-ПІДПРИЄМЕЦЬ Білоцерковська Каріна Геннадіївна,</p>
        <p>Місцезнаходження: 03035, Україна, м. Київ, вулиця Кудряшова, 3.</p>
        <p><strong>«Покупець»</strong> — фізична особа або фізична особа-підприємець або будь-яка інша юридична особа,
            що вступила в договірні відносини з Продавцем на умовах, зазначених у Договорі.</p>
        <p><strong>«Замовлення»</strong> — окремі позиції з асортиментного переліку Товару, вказані Покупцем при
            розміщенні заявки на Веб-сайті Продавця або через оператора кол-ценру Продавця або будь-яким іншим існуючим
            способом.</p>
        <p><strong>«Послуги з доставки Товару»</strong> або <strong>«Послуги»</strong> — безпосередня передача Товару
            від Продавця до Покупця у місці зазначеному Покупцем та погодженим Продавцем.</p>
        <p>Примітка 1: карта надання Послуг з доставки Товару та час доставки визначені на Веб-сайті Продавця.</p>
        <p>Примітка 2: Послуги з доставки Товару не надаються у місця, які не зазначено на Веб-сайті Продавця, як
            можливі місця доставки.</p>
        <p><strong>«Веб-сайт Продавця»</strong> — веб-сторінка Продавця, яка знаходиться в мережі Інтернет за адресою:
            <a href="https://mapizza.com.ua/" target="_blank">https://mapizza.com.ua/</a> та через яку Продавець
            здійснює продаж Товару.
        </p>
        <p><strong>«Сторони»</strong> — Продавець та Покупець разом.</p>
        <p><strong>«Сторона»</strong> — або Продавець або Покупець окремо один від одного.</p>
        <p>&nbsp;</p>
        <p><strong>2.ПРЕДМЕТ ДОГОВОРУ.</strong></p>
        <p>2.1. Продавець здійснює продаж Покупцю обраного ним Товару відповідно до діючих цін, на момент оформлення
            Покупцем Замовлення та/або надає Послуги (у випадку оформлення Замовлення на суму, яка окремо встановлюється
            Продавцем), а Покупець зобов’язаний здійснити оплату і прийняти Товар відповідно до умов Договору...</p>
        <p><a href="https://mapizza.com.ua/dogovir-publichnoyi-oferty/" target="_blank">ЧИТАТИ БІЛЬШЕ</a></p>
    </div>
</div>