@import "../../shared/styles/variables";
@import "../../shared/styles/mixins";

.container {
    width: 90%;
    margin: 50px auto;

    .banner {
        border-radius: 16px;
        background-color: $background-color;
        min-height: 160px;
        padding-left: 50px;
        display: flex;
        align-items: center;

        @include screen-480 {
            padding-left: 20px;
        }

        .title {
            font-size: 48px;
            line-height: 1.2em;
            position: relative;

            @include screen-1024 {
                font-size: 30px;
            }

            &::before {
                content: '';
                position: absolute;
                top: -30px;
                left: -50px;
                width: 64px;
                height: 54px;
                background: url(../../../assets/images/title-decor.svg);
                background-repeat: no-repeat;
                background-position: center;
                background-size: contain;

                @include screen-1024 {
                    display: none;
                }
            }
        }
    }

    .product-cards {
        margin-top: 50px;
        display: flex;
        flex-wrap: wrap;

        @include screen-1280 {
            margin-top: 40px;
        }

        @include screen-768 {
            margin-top: 30px;
        }

        .card {
            max-width: 32%;
            display: flex;
            align-items: center;
            flex-direction: column;
            border-radius: 16px;
            cursor: pointer;
            border: 1px solid $border-color;
            margin: 1% 0.65%;
            padding-bottom: 10px;

            @include screen-768 {
                max-width: 48%;
                margin: 1%;
            }

            @include screen-480 {
                max-width: 100%;
            }

            .img-wrap {
                height: 70%;

                img {
                    max-width: 100%;
                    max-height: 100%;
                    border-radius: 16px;
                }
            }

            .info-wrap {
                padding: 0px 20px;

                @include screen-1280 {
                    padding: 0px 5px;
                }

                .name {
                    min-height: 2.6em;

                    b {
                        font-size: 20px;
                        transition: 0.5s;

                        &:hover {
                            color: $main-color-green;
                        }

                        @include screen-1280 {
                            font-size: 18px;
                        }
                    }
                }

                .description {
                    color: gray;
                    line-height: 22px;
                    height: 65px;
                    margin-bottom: 10px;
                    overflow: hidden;

                    @include screen-1280 {
                        font-size: 14px;
                    }
                }

                .price {
                    b {
                        font-size: 20px;

                        @include screen-1280 {
                            font-size: 18px;
                        }
                    }

                    .weight {
                        color: gray;

                        @include screen-1280 {
                            font-size: 16px;
                        }
                    }
                }

                .ordering {
                    height: 45px;
                    display: flex;
                    justify-content: space-between;
                    margin-top: 10px;

                    @include screen-1024 {
                        height: 35px;
                    }

                    .select-quantity {
                        width: 33%;
                        display: flex;
                        align-items: center;
                        border: 1px solid $border-color;
                        border-radius: 12px;

                        .plus {
                            width: 30%;
                            height: 100%;
                            font-size: 20px;
                            border-radius: 0px 12px 12px 0px;
                            cursor: pointer;
                            background-color: white;
                            transition: 0.4s;

                            &:hover {
                                background-color: $background-color;
                                color: $main-color-green;
                            }
                        }

                        .minus {
                            width: 30%;
                            height: 100%;
                            font-size: 20px;
                            border-radius: 12px 0px 0px 12px;
                            cursor: pointer;
                            background-color: white;
                            transition: 0.4s;

                            &:hover {
                                background-color: $background-color;
                                color: $main-color-green;
                            }
                        }

                        .count {
                            width: 40%;
                            height: 70%;
                            font-size: 20px;
                            text-align: center;
                            border-right: 1px solid $border-color;
                            border-left: 1px solid $border-color;

                            @include screen-1024 {
                                font-size: 16px;
                            }
                        }
                    }

                    .order {
                        width: 55%;
                        border-radius: 12px;
                        color: white;
                        font-weight: 600;
                        background-color: $main-color-red;
                        font-size: 13px;
                        cursor: pointer;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        transition: 0.5s;

                        &:hover {
                            background-color: $main-color-green;
                        }

                        svg {
                            margin-left: 10px;
                        }

                        @include screen-1024 {
                            font-size: 11px;
                        }
                    }
                }
            }
        }
    }
}