<div *ngIf="currentProduct">
    <div class="container">
        <div class="breadcrumb">
            <span [routerLink]="[ '/' ]">Головна <b>&#183;</b></span><span
                [routerLink]="[ '/product/'+currentProduct.category.path]"> {{ currentProduct.category.name }}
                <b>&#183;</b></span><span> {{ currentProduct.name }}</span>
        </div>
        <div class="product-detail">
            <div class="droduct-detail-img">
                <img [src]="currentProduct.imagePath" alt="currentProduct.name">
            </div>
            <div class="product-detail-info">
                <p class="price"><b>{{ currentProduct.price }} грн</b><span class="weight"> / {{ currentProduct.weight
                        }}
                        г</span></p>
                <p class="name"><b>{{ currentProduct.name }}</b></p>
                <p class="description">{{ currentProduct.description }}</p>
                <div class="ordering">
                    <span>Кількість:</span>
                    <div class="select-quantity">
                        <button class="minus" (click)="productCount(currentProduct, false)">-</button>
                        <input class="count" type="text" [value]="currentProduct.count">
                        <button class="plus" (click)="productCount(currentProduct, true)">+</button>
                    </div>
                    <div class="total-price">{{ currentProduct.price * currentProduct.count }} грн</div>
                </div>
                <button class="order" (click)="addToBasket(currentProduct)">
                    <b>ЗАМОВИТИ</b>
                    <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path
                            d="M6.25 6.39167V5.58334C6.25 3.70834 7.75833 1.86667 9.63333 1.69167C11.8667 1.47501 13.75 3.23334 13.75 5.42501V6.57501"
                            stroke="white" stroke-width="1.5" stroke-miterlimit="10" stroke-linecap="round"
                            stroke-linejoin="round"></path>
                        <path
                            d="M7.5001 18.3333H12.5001C15.8501 18.3333 16.4501 16.9917 16.6251 15.3583L17.2501 10.3583C17.4751 8.32499 16.8918 6.66666 13.3334 6.66666H6.66677C3.10843 6.66666 2.5251 8.32499 2.7501 10.3583L3.3751 15.3583C3.5501 16.9917 4.1501 18.3333 7.5001 18.3333Z"
                            stroke="white" stroke-width="1.5" stroke-miterlimit="10" stroke-linecap="round"
                            stroke-linejoin="round"></path>
                        <path d="M12.9128 10H12.9203" stroke="white" stroke-width="2" stroke-linecap="round"
                            stroke-linejoin="round"></path>
                        <path d="M7.07884 10H7.08632" stroke="white" stroke-width="2" stroke-linecap="round"
                            stroke-linejoin="round"></path>
                    </svg>
                </button>
            </div>
        </div>
    </div>
</div>