@import "../../shared/styles/variables";
@import "../../shared/styles/mixins";

%title-decor {
    font-weight: bolder;
    position: relative;

    &::before {
        content: '';
        position: absolute;
        top: -30px;
        left: -50px;
        width: 64px;
        height: 54px;
        background: url(../../../assets/images/title-decor.svg);
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
    }
}

.container {
    width: 90%;
    margin: 30px auto;

    .banner {
        width: 100%;
        height: 760px;
        border-radius: 16px;
        background-color: $background-color;
        display: flex;

        .banner-content {
            width: 43%;
            height: 100%;
            padding-left: 100px;
            display: flex;
            justify-content: center;
            flex-direction: column;
            position: relative;

            .banner-decoration {
                position: absolute;
                top: 105px;
                left: -55px;
            }

            .title {
                font-size: 40px;
                font-weight: bolder;
                margin-bottom: 30px;
            }

            .description {
                color: gray;
                line-height: 22px;
                margin-bottom: 25px;
            }

            button {
                width: 180px;
                height: 45px;
                color: white;
                background-color: $main-color-red;
                border-radius: 12px;
                font-size: 16px;
                cursor: pointer;
                transition: 0.5s;

                &:hover {
                    background-color: $main-color-green;
                }
            }
        }

        .banner-img {
            width: 57%;
            height: 100%;
            position: relative;

            img {
                position: absolute;
            }
        }
    }

    .title {
        font-size: 45px;
        margin-top: 80px;
        @extend %title-decor;

        @include screen-1024 {
            font-size: 30px;
        }

        &::before {
            @include screen-1024 {
                display: none;
            }
        }
    }

    .types-of-products {
        display: flex;
        flex-wrap: wrap;
        margin-top: 30px;

        .name {
            margin: 5px;
            cursor: pointer;
            border: 1px solid $border-color;
            border-radius: 12px;
            font-size: 15px;
            font-weight: 400;
            padding: 10px 20px;
            transition: 0.5s;

            &:hover {
                border: 1px solid $main-color-green;
            }

            img {
                margin-right: 10px;
            }
        }
    }

    .product-cards {
        margin-top: 50px;
        display: flex;
        flex-wrap: wrap;

        @include screen-1280 {
            margin-top: 40px;
        }

        @include screen-768 {
            margin-top: 30px;
        }

        .card {
            max-width: 32%;
            display: flex;
            align-items: center;
            flex-direction: column;
            border-radius: 16px;
            cursor: pointer;
            border: 1px solid $border-color;
            margin: 1% 0.65%;
            padding-bottom: 10px;

            @include screen-768 {
                max-width: 48%;
                margin: 1%;
            }

            @include screen-480 {
                max-width: 100%;
            }

            .img-wrap {
                height: 70%;

                img {
                    max-width: 100%;
                    max-height: 100%;
                    border-radius: 16px;
                }
            }

            .info-wrap {
                padding: 0px 20px;

                @include screen-1280 {
                    padding: 0px 5px;
                }

                .name {
                    min-height: 2.6em;

                    b {
                        font-size: 20px;
                        transition: 0.5s;

                        &:hover {
                            color: $main-color-green;
                        }

                        @include screen-1280 {
                            font-size: 18px;
                        }
                    }
                }

                .description {
                    color: gray;
                    line-height: 22px;
                    height: 65px;
                    margin-bottom: 10px;
                    overflow: hidden;

                    @include screen-1280 {
                        font-size: 14px;
                    }
                }

                .price {
                    b {
                        font-size: 20px;

                        @include screen-1280 {
                            font-size: 18px;
                        }
                    }

                    .weight {
                        color: gray;

                        @include screen-1280 {
                            font-size: 16px;
                        }
                    }
                }

                .ordering {
                    height: 45px;
                    display: flex;
                    justify-content: space-between;
                    margin-top: 10px;

                    @include screen-1024 {
                        height: 35px;
                    }

                    .select-quantity {
                        width: 33%;
                        display: flex;
                        align-items: center;
                        border: 1px solid $border-color;
                        border-radius: 12px;

                        .plus {
                            width: 30%;
                            height: 100%;
                            font-size: 20px;
                            border-radius: 0px 12px 12px 0px;
                            cursor: pointer;
                            background-color: white;
                            transition: 0.4s;

                            &:hover {
                                background-color: $background-color;
                                color: $main-color-green;
                            }
                        }

                        .minus {
                            width: 30%;
                            height: 100%;
                            font-size: 20px;
                            border-radius: 12px 0px 0px 12px;
                            cursor: pointer;
                            background-color: white;
                            transition: 0.4s;

                            &:hover {
                                background-color: $background-color;
                                color: $main-color-green;
                            }
                        }

                        .count {
                            width: 40%;
                            height: 70%;
                            font-size: 20px;
                            text-align: center;
                            border-right: 1px solid $border-color;
                            border-left: 1px solid $border-color;

                            @include screen-1024 {
                                font-size: 16px;
                            }
                        }
                    }

                    .order {
                        width: 55%;
                        border-radius: 12px;
                        color: white;
                        font-weight: 600;
                        background-color: $main-color-red;
                        font-size: 13px;
                        cursor: pointer;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        transition: 0.5s;

                        &:hover {
                            background-color: $main-color-green;
                        }

                        svg {
                            margin-left: 10px;
                        }

                        @include screen-1024 {
                            font-size: 11px;
                        }
                    }
                }
            }
        }
    }

    .benefits {
        display: flex;
        border: 1px solid $border-color;
        border-radius: 25px;
        box-shadow: $box-shadow;
        margin-top: 90px;
        padding: 45px 0px 25px;
        flex-wrap: wrap;

        @include screen-1280 {
            margin-top: 75px;
        }

        @include screen-1280 {
            margin-top: 40px;
        }

        @include screen-480 {
            padding: 25px 0px 5px;
        }

        .benefits-item {
            width: 25%;
            padding: 0px 26px;
            margin-bottom: 20px;

            @include screen-1600 {
                padding: 0px 22px;
            }

            @include screen-1280 {
                width: 50%;
            }

            @include screen-768 {
                width: 100%;
            }

            p {
                font-size: 18px;
                line-height: 1.3em;
                margin-bottom: 5px;
                color: gray;

                strong {
                    color: black;
                }

                @include screen-1600 {
                    font-size: 16px;
                }

                @include screen-480 {
                    font-size: 14px;
                }
            }
        }
    }

    .about-us {
        display: flex;
        border: 1px solid $border-color;
        border-radius: 25px;
        box-shadow: $box-shadow;
        margin-top: 90px;
        flex-wrap: wrap;

        @include screen-1280 {
            margin-top: 75px;
        }

        @include screen-768 {
            margin-top: 40px;
        }

        .about-us-info {
            width: 47%;
            display: flex;
            flex-direction: column;
            padding: 25px 60px 25px 110px;

            @include screen-1600 {
                padding: 25px 50px 25px 80px;
            }

            @include screen-1440 {
                padding: 25px 40px 25px 70px;
            }

            @include screen-1280 {
                padding: 25px 30px 20px 40px;
            }

            @include screen-1024 {
                width: 100%;
                padding: 15px 30px 20px;
            }

            @include screen-480 {
                padding: 15px;
            }

            .about-us-title {
                font-size: 40px;
                margin-top: 30px;
                @extend %title-decor;

                @include screen-1440 {
                    margin-top: 0px;
                    font-size: 34px;
                }

                @include screen-1280 {
                    font-size: 28px;
                }

                @include screen-1024 {
                    font-size: 26px;
                }

                @include screen-768 {
                    font-size: 22px;
                }

                &::before {

                    @include screen-1440 {
                        width: 50px;
                        height: 50px;
                        top: -23px;
                        left: -40px;
                    }

                    @include screen-1024 {
                        display: none;
                    }
                }
            }

            .text {
                font-size: 20px;
                line-height: 1.3em;
                margin-bottom: 5px;
                color: gray;
                margin-top: 25px;

                strong {
                    color: black;
                }

                @include screen-1440 {
                    font-size: 18px;
                    margin-top: 15px;
                }

                @include screen-1280 {
                    font-size: 16px;
                }

                @include screen-768 {
                    font-size: 14px;
                }
            }

            button {
                width: 47%;
                border-radius: 12px;
                font-weight: 600;
                background-color: $main-color-red;
                cursor: pointer;
                display: flex;
                justify-content: center;
                line-height: 50px;
                margin-top: 25px;
                transition: 0.5s;

                @include screen-1280 {
                    margin-top: 5px;
                }

                @include screen-480 {
                    width: 65%;
                }

                &:hover {
                    background-color: $main-color-green;
                }

                p {
                    font-size: 15px;
                    color: white;

                    @include screen-1440 {
                        font-size: 13px;
                    }
                }

                .wrapper {
                    padding-top: 11px;
                    margin-left: 15px;

                    @include screen-1280 {
                        padding-top: 14px;
                        margin-left: 12px;
                    }

                    div {
                        color: white;
                        width: 25px;
                        height: 25px;
                        border-radius: 100%;
                        border: 2px solid white;
                        font-size: 19px;
                        text-align: center;
                        line-height: 20px;

                        @include screen-1280 {
                            width: 20px;
                            height: 20px;
                            line-height: 14px;
                        }
                    }
                }
            }
        }

        .about-us-img {
            width: 53%;

            @include screen-1024 {
                width: 100%;
                order: -1;
            }

            img {
                width: 100%;
                height: 100%;
                border-radius: 25px;
            }
        }
    }

    .inst-block {
        border: 1px solid $border-color;
        border-radius: 25px;
        box-shadow: $box-shadow;
        display: flex;
        margin-top: 90px;

        @include screen-1280 {
            margin-top: 75px;
        }

        @include screen-768 {
            margin-top: 40px;
        }

        .inst-block-img {
            width: 51%;

            @include screen-1280 {
                display: none;
            }

            img {
                width: 100%;
                height: 100%;
                border-radius: 25px;
            }
        }

        .inst-block-info {
            width: 49%;
            display: flex;
            flex-direction: column;
            padding: 35px 60px 25px 85px;

            @include screen-1600 {
                padding: 35px 50px 25px 80px;
            }

            @include screen-1440 {
                padding: 35px 40px 25px 70px;
            }

            @include screen-1280 {
                width: 100%;
                padding: 35px 60px 20px;
            }

            @include screen-768 {
                padding: 20px 20px;
            }

            .inst-block-title {
                @extend %title-decor;
                font-size: 40px;

                @include screen-1600 {
                    font-size: 34px;
                }

                @include screen-1440 {
                    margin-top: 0px;
                    font-size: 32px;
                }

                @include screen-1280 {
                    font-size: 28px;
                }

                @include screen-1024 {
                    font-size: 26px;
                }

                @include screen-768 {
                    font-size: 22px;
                }

                &::before {

                    @include screen-1440 {
                        width: 50px;
                        height: 50px;
                        top: -23px;
                        left: -40px;
                    }

                    @include screen-1024 {
                        display: none;
                    }
                }
            }

            .text {
                font-size: 20px;
                line-height: 1.3em;
                margin-bottom: 5px;
                color: gray;
                margin-top: 25px;

                @include screen-1440 {
                    font-size: 18px;
                    margin-top: 15px;
                }

                @include screen-1280 {
                    font-size: 16px;
                }

                @include screen-768 {
                    font-size: 14px;
                }
            }

            a {
                width: 35%;
                height: 50px;
                border-radius: 12px;
                background-color: $main-color-red;
                cursor: pointer;
                display: flex;
                justify-content: center;
                align-items: center;
                margin-top: 25px;
                transition: 0.5s;

                @include screen-1280 {
                    margin-top: 5px;
                }

                @include screen-480 {
                    width: 65%;
                }

                &:hover {
                    background-color: $main-color-green;
                }

                p {
                    font-size: 15px;
                    color: white;
                }

                .wrapper {
                    margin-left: 15px;
                }
            }
        }
    }

    .faq {
        width: 100%;
        margin-top: 90px;
        display: flex;
        justify-content: center;

        @include screen-1280 {
            margin-top: 75px;
        }

        @include screen-768 {
            margin-top: 40px;
        }


        .faq-wrapper {
            width: 70%;
            border-bottom: 1px solid $border-color;

            @include screen-1280 {
                width: 100%;
            }

            .title {
                margin: 0px 0px 30px 0px;

                @include screen-768 {
                    margin: 0px 0px 15px 0px;
                    font-size: 22px;
                }
            }

            .faq-item {
                padding: 10px 0px;
                border-top: 1px solid $border-color;

                .faq-title {
                    display: block;
                    cursor: pointer;
                    position: relative;
                    font-weight: bolder;
                    font-size: 20px;
                    padding: 10px 15px;
                    transition: 0.4s;

                    @include screen-768 {
                        font-size: 18px;
                    }

                    @include screen-480 {
                        font-size: 17px;
                        padding: 0px;
                    }

                    &::after {
                        content: "";
                        display: block;
                        border-style: solid;
                        border-width: 10px 6px 0 6px;
                        border-color: gray transparent transparent transparent;
                        position: absolute;
                        top: 50%;
                        right: 15px;
                        transform: translateY(-50%);
                    }

                    &:hover {
                        color: $main-color-green;
                    }

                    &:hover:after {
                        border-color: $main-color-green transparent transparent transparent;
                    }
                }

                .faq-input {
                    appearance: none;
                    position: absolute;

                    &:checked~.faq-title {
                        color: $main-color-green;
                    }

                    &:checked~.faq-title::after {
                        border-style: solid;
                        border-width: 0px 6px 10px 6px;
                        border-color: transparent transparent $main-color-green transparent;
                    }

                    &:checked~.faq-text {
                        display: block;
                    }
                }

                .faq-text {
                    display: none;
                    color: gray;
                    font-size: 16px;
                    padding: 15px 15px;

                    @include screen-768 {
                        font-size: 14px;
                    }

                    @include screen-480 {
                        padding: 15px 0px;
                    }
                }
            }
        }
    }

    .seo-block {
        width: 100%;
        margin-top: 90px;
        display: flex;
        justify-content: center;

        @include screen-1280 {
            margin-top: 75px;
        }

        @include screen-768 {
            margin-top: 40px;
        }

        .seo-wrapper {
            width: 70%;

            @include screen-1280 {
                width: 100%;
            }

            .title {
                margin-top: 0px;

                @include screen-768 {
                    font-size: 22px;
                }
            }

            .text {
                font-size: 20px;
                line-height: 1.3em;
                margin-top: 25px;
                color: gray;

                @include screen-1024 {
                    font-size: 18px;
                    margin-top: 15px;
                }

                @include screen-768 {
                    font-size: 16px;
                }

                @include screen-480 {
                    font-size: 14px;
                }
            }
        }
    }
}