<div class="container">
    <div class="banner">
        <div class="banner-content">
            <div class="banner-decoration">
                <img src="../../../assets/images/banner-decor.svg" alt="">
            </div>
            <p class="title">Акція 2+1!</p>
            <p class="description">
                Замовляй 3 піци та отримуй одну з них безкоштовно!
                <br>
                *акція діє з понеділка по четвер, на доставку
            </p>
            <button>ЗАМОВИТИ</button>
        </div>
        <div class="banner-img">
            <img src="../../../assets/images/2+11111.png" alt="">
        </div>
    </div>
    <div class="title">
        Піца Львів
    </div>
    <div class="types-of-products">
        <div class="name">Всі</div>
        <div class="name">
            <img src="../../../assets/images/hot.svg" alt="">
            Гостра
        </div>
        <div class="name">
            <img src="../../../assets/images/i-filter-3.svg" alt="">
            М'ясо
        </div>
        <div class="name">
            <img src="../../../assets/images/i-filter-1.svg" alt="">
            Овочі
        </div>
        <div class="name">
            <img src="../../../assets/images/i-filter-2.svg" alt="">
            Морепродукти
        </div>
    </div>
    <div class="product-cards">
        <div class="card">
            <div class="img-wrap">
                <img src="../../../assets/images/kaprichioza-2.jpg" alt="">
            </div>
            <div class="info-wrap">
                <p class="name"><b>Капрічоза</b></p>
                <p class="description">Хамон, шинка, артишоки, сир моцарела, гриби печериці, свіжа рукола,
                    неаполітанський соус.</p>
                <p class="price"><b>255 грн</b><span class="weight">/ 480 г</span></p>
                <div class="ordering">
                    <div class="select-quantity">
                        <button class="minus">-</button>
                        <input class="count" type="text" value="1">
                        <button class="plus">+</button>
                    </div>
                    <button class="order">
                        <b>ЗАМОВИТИ</b>
                        <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path
                                d="M6.25 6.39167V5.58334C6.25 3.70834 7.75833 1.86667 9.63333 1.69167C11.8667 1.47501 13.75 3.23334 13.75 5.42501V6.57501"
                                stroke="white" stroke-width="1.5" stroke-miterlimit="10" stroke-linecap="round"
                                stroke-linejoin="round"></path>
                            <path
                                d="M7.5001 18.3333H12.5001C15.8501 18.3333 16.4501 16.9917 16.6251 15.3583L17.2501 10.3583C17.4751 8.32499 16.8918 6.66666 13.3334 6.66666H6.66677C3.10843 6.66666 2.5251 8.32499 2.7501 10.3583L3.3751 15.3583C3.5501 16.9917 4.1501 18.3333 7.5001 18.3333Z"
                                stroke="white" stroke-width="1.5" stroke-miterlimit="10" stroke-linecap="round"
                                stroke-linejoin="round"></path>
                            <path d="M12.9128 10H12.9203" stroke="white" stroke-width="2" stroke-linecap="round"
                                stroke-linejoin="round"></path>
                            <path d="M7.07884 10H7.08632" stroke="white" stroke-width="2" stroke-linecap="round"
                                stroke-linejoin="round"></path>
                        </svg>
                    </button>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="img-wrap">
                <img src="../../../assets/images/kaprichioza-2.jpg" alt="">
            </div>
            <div class="info-wrap">
                <p class="name"><b>Капрічоза</b></p>
                <p class="description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Tenetur, facere ea
                    maiores cumque atque, hic sequi quidem sint similique in repudiandae explicabo voluptate? Est
                    mollitia dolores commodi perferendis ad beatae.
                    соус.</p>
                <p class="price"><b>255 грн</b><span class="weight"> / 480 г</span></p>
                <div class="ordering">
                    <div class="select-quantity">
                        <button class="minus">-</button>
                        <input class="count" type="text" value="1">
                        <button class="plus">+</button>
                    </div>
                    <button class="order">
                        <b>ЗАМОВИТИ</b>
                        <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path
                                d="M6.25 6.39167V5.58334C6.25 3.70834 7.75833 1.86667 9.63333 1.69167C11.8667 1.47501 13.75 3.23334 13.75 5.42501V6.57501"
                                stroke="white" stroke-width="1.5" stroke-miterlimit="10" stroke-linecap="round"
                                stroke-linejoin="round"></path>
                            <path
                                d="M7.5001 18.3333H12.5001C15.8501 18.3333 16.4501 16.9917 16.6251 15.3583L17.2501 10.3583C17.4751 8.32499 16.8918 6.66666 13.3334 6.66666H6.66677C3.10843 6.66666 2.5251 8.32499 2.7501 10.3583L3.3751 15.3583C3.5501 16.9917 4.1501 18.3333 7.5001 18.3333Z"
                                stroke="white" stroke-width="1.5" stroke-miterlimit="10" stroke-linecap="round"
                                stroke-linejoin="round"></path>
                            <path d="M12.9128 10H12.9203" stroke="white" stroke-width="2" stroke-linecap="round"
                                stroke-linejoin="round"></path>
                            <path d="M7.07884 10H7.08632" stroke="white" stroke-width="2" stroke-linecap="round"
                                stroke-linejoin="round"></path>
                        </svg>
                    </button>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="img-wrap">
                <img src="../../../assets/images/kaprichioza-2.jpg" alt="">
            </div>
            <div class="info-wrap">
                <p class="name"><b>Капрічоза</b></p>
                <p class="description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Tenetur, facere ea
                    maiores cumque atque, hic sequi quidem sint similique in repudiandae explicabo voluptate? Est
                    mollitia dolores commodi perferendis ad beatae.
                    соус.</p>
                <p class="price"><b>255 грн</b><span class="weight"> / 480 г</span></p>
                <div class="ordering">
                    <div class="select-quantity">
                        <button class="minus">-</button>
                        <input class="count" type="text" value="1">
                        <button class="plus">+</button>
                    </div>
                    <button class="order">
                        <b>ЗАМОВИТИ</b>
                        <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path
                                d="M6.25 6.39167V5.58334C6.25 3.70834 7.75833 1.86667 9.63333 1.69167C11.8667 1.47501 13.75 3.23334 13.75 5.42501V6.57501"
                                stroke="white" stroke-width="1.5" stroke-miterlimit="10" stroke-linecap="round"
                                stroke-linejoin="round"></path>
                            <path
                                d="M7.5001 18.3333H12.5001C15.8501 18.3333 16.4501 16.9917 16.6251 15.3583L17.2501 10.3583C17.4751 8.32499 16.8918 6.66666 13.3334 6.66666H6.66677C3.10843 6.66666 2.5251 8.32499 2.7501 10.3583L3.3751 15.3583C3.5501 16.9917 4.1501 18.3333 7.5001 18.3333Z"
                                stroke="white" stroke-width="1.5" stroke-miterlimit="10" stroke-linecap="round"
                                stroke-linejoin="round"></path>
                            <path d="M12.9128 10H12.9203" stroke="white" stroke-width="2" stroke-linecap="round"
                                stroke-linejoin="round"></path>
                            <path d="M7.07884 10H7.08632" stroke="white" stroke-width="2" stroke-linecap="round"
                                stroke-linejoin="round"></path>
                        </svg>
                    </button>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="img-wrap">
                <img src="../../../assets/images/kaprichioza-2.jpg" alt="">
            </div>
            <div class="info-wrap">
                <p class="name"><b>Капрічоза</b></p>
                <p class="description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Tenetur, facere ea
                    maiores cumque atque, hic sequi quidem sint similique in repudiandae explicabo voluptate? Est
                    mollitia dolores commodi perferendis ad beatae.
                    соус.</p>
                <p class="price"><b>255 грн</b><span class="weight"> / 480 г</span></p>
                <div class="ordering">
                    <div class="select-quantity">
                        <button class="minus">-</button>
                        <input class="count" type="text" value="1">
                        <button class="plus">+</button>
                    </div>
                    <button class="order">
                        <b>ЗАМОВИТИ</b>
                        <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path
                                d="M6.25 6.39167V5.58334C6.25 3.70834 7.75833 1.86667 9.63333 1.69167C11.8667 1.47501 13.75 3.23334 13.75 5.42501V6.57501"
                                stroke="white" stroke-width="1.5" stroke-miterlimit="10" stroke-linecap="round"
                                stroke-linejoin="round"></path>
                            <path
                                d="M7.5001 18.3333H12.5001C15.8501 18.3333 16.4501 16.9917 16.6251 15.3583L17.2501 10.3583C17.4751 8.32499 16.8918 6.66666 13.3334 6.66666H6.66677C3.10843 6.66666 2.5251 8.32499 2.7501 10.3583L3.3751 15.3583C3.5501 16.9917 4.1501 18.3333 7.5001 18.3333Z"
                                stroke="white" stroke-width="1.5" stroke-miterlimit="10" stroke-linecap="round"
                                stroke-linejoin="round"></path>
                            <path d="M12.9128 10H12.9203" stroke="white" stroke-width="2" stroke-linecap="round"
                                stroke-linejoin="round"></path>
                            <path d="M7.07884 10H7.08632" stroke="white" stroke-width="2" stroke-linecap="round"
                                stroke-linejoin="round"></path>
                        </svg>
                    </button>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="img-wrap">
                <img src="../../../assets/images/kaprichioza-2.jpg" alt="">
            </div>
            <div class="info-wrap">
                <p class="name"><b>Капрічоза</b></p>
                <p class="description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Tenetur, facere ea
                    maiores cumque atque, hic sequi quidem sint similique in repudiandae explicabo voluptate? Est
                    mollitia dolores commodi perferendis ad beatae.
                    соус.</p>
                <p class="price"><b>255 грн</b><span class="weight"> / 480 г</span></p>
                <div class="ordering">
                    <div class="select-quantity">
                        <button class="minus">-</button>
                        <input class="count" type="text" value="1">
                        <button class="plus">+</button>
                    </div>
                    <button class="order">
                        <b>ЗАМОВИТИ</b>
                        <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path
                                d="M6.25 6.39167V5.58334C6.25 3.70834 7.75833 1.86667 9.63333 1.69167C11.8667 1.47501 13.75 3.23334 13.75 5.42501V6.57501"
                                stroke="white" stroke-width="1.5" stroke-miterlimit="10" stroke-linecap="round"
                                stroke-linejoin="round"></path>
                            <path
                                d="M7.5001 18.3333H12.5001C15.8501 18.3333 16.4501 16.9917 16.6251 15.3583L17.2501 10.3583C17.4751 8.32499 16.8918 6.66666 13.3334 6.66666H6.66677C3.10843 6.66666 2.5251 8.32499 2.7501 10.3583L3.3751 15.3583C3.5501 16.9917 4.1501 18.3333 7.5001 18.3333Z"
                                stroke="white" stroke-width="1.5" stroke-miterlimit="10" stroke-linecap="round"
                                stroke-linejoin="round"></path>
                            <path d="M12.9128 10H12.9203" stroke="white" stroke-width="2" stroke-linecap="round"
                                stroke-linejoin="round"></path>
                            <path d="M7.07884 10H7.08632" stroke="white" stroke-width="2" stroke-linecap="round"
                                stroke-linejoin="round"></path>
                        </svg>
                    </button>
                </div>
            </div>
        </div>
    </div>
    <div class="benefits">
        <div class="benefits-item">
            <img src="../../../assets/images/benefits-img-1.svg" alt="">
            <p><strong>Італійські продукти найвищої якості</strong></p>
            <p>МА імпортує продукти топових європейських брендів</p>
        </div>
        <div class="benefits-item">
            <img src="../../../assets/images/benefits-img-2.svg" alt="">
            <p><strong>Неймовірний смак та хрустка скоринка</strong></p>
            <p>МА готує тісто для піци лише на італійському борошні Caputo</p>
        </div>
        <div class="benefits-item">
            <img src="../../../assets/images/benefits-img-3.svg" alt="">
            <p><strong>Професійні кухарі та піцейоли майстри своєї справи</strong></p>
            <p>У МА працюють найкращі! Вболіваємо за розвиток кожного працівника!</p>
        </div>
        <div class="benefits-item">
            <img src="../../../assets/images/benefits-img-4.svg" alt="">
            <p><strong>Безкоштовна та швидка доставка у будь-який куточок Львова</strong></p>
            <p>Середній час доставки у зеленій зоні – 29 хв.</p>
        </div>
    </div>
    <div class="about-us">
        <div class="about-us-info">
            <div class="title">Трішки про нас</div>
            <p>Ми не італійці, в нашій команді немає іменитих шефів чи розкручених учасників кулінарних шоу. Проте, ми
                обожнюємо гастрономічні традиції Італії та експерименти на кухні, а ще ми з великою повагою ставимося до
                їжі, яку готуємо нашим клієнтам.</p>
            <p><strong>Наша мета – дати можливість усім і кожному закохатися у справжню італійську піцу. МА готує піцу з
                    якісних
                    імпортних інгредієнтів на італійському борошні Caputo. Тоненьке тісто, хрумкі бортики, багато
                    начинки –
                    «кусь» і Ви в Італії!</strong></p>
            <button>
                <p>ДІЗНАТИСЯ БІЛЬШЕ</p>
                <div class="wrapper">
                    <div>&#62;</div>
                </div>
            </button>
        </div>
        <div class="about-us-img">
            <img src="../../../assets/images/czikavi-fakty-pro-piczu-scaled-890x594.jpg" alt="">
        </div>
    </div>
    <div class="inst-block">
        <img src="../../../assets/images/1-4-1.jpg.webp" alt="">
    </div>
</div>