<div class="container">
    <div class="banner">
        <div class="banner-content">
            <div class="banner-decoration">
                <img src="../../../assets/images/banner-decor.svg" alt="">
            </div>
            <p class="title">Акція 2+1!</p>
            <p class="description">
                Замовляй 3 піци та отримуй одну з них безкоштовно!
                <br>
                *акція діє з понеділка по четвер, на доставку
            </p>
            <button>ЗАМОВИТИ</button>
        </div>
        <div class="banner-img">
            <img src="../../../assets/images/2+11111.png" alt="">
        </div>
    </div>
</div>