<div class="container">
    <button class="create" (click)="openForm()"><b>ДОДАТИ ТОВАР</b></button>
    <form class="add" [formGroup]="productForm" (ngSubmit)="addProduct()" *ngIf="formStatus">
        <select formControlName="category" name="select-category">
            <option [ngValue]="category" *ngFor="let category of adminCategories">{{ category.name }}</option>
        </select>
        <div>
            <input formControlName="name" name="name" class="name" type="text" placeholder="*Назва">
            <input formControlName="path" name="path" class="path" type="text" placeholder="*Шлях">
        </div>
        <input formControlName="description" name="description" class="description" type="text" placeholder="*Опис">
        <div>
            <input formControlName="weight" name="weight" class="weight" type="number" placeholder="*Вага">
            <input formControlName="price" name="price" class="price" type="number" placeholder="*Ціна">
        </div>
        <div class="add-img">
            <input name="file" id="file" type="file" (change)="upload($event)">
            <label for="file"></label>
        </div>
        <div class="prev-image" *ngIf="isUploaded">
            <div class="img-wrapper">
                <img [src]="valueByControl('imagePath')">
            </div>
            <p class="delete-img" (click)="deleteImage()">Видалити</p>
        </div>
        <button type="submit" [disabled]="productForm.invalid"><b>{{ editStatus ? 'ЗБЕРЕГТИ' : 'ДОДАТИ' }}</b></button>
    </form>
    <table>
        <thead>
            <tr>
                <th>№</th>
                <th>Категорія</th>
                <th>Назва</th>
                <th>Інгредієнти</th>
                <th>Вага</th>
                <th>Ціна</th>
                <th>Картинка</th>
                <th>Дії</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let product of adminProducts">
                <td></td>
                <td>{{ product.category.name }}</td>
                <td>{{ product.name }}</td>
                <td>{{ product.description }}</td>
                <td>{{ product.weight }}</td>
                <td>{{ product.price }}</td>
                <td class="image">
                    <img [src]="product.imagePath">
                </td>
                <td class="actions">
                    <p (click)="editProduct(product)">Редагувати</p>
                    <p (click)="deleteProduct(product)">Видалити</p>
                </td>
            </tr>
        </tbody>
    </table>
</div>