@import '../../shared/styles/variables';
@import '../../shared/styles/mixins';

.container {
    width: 90%;
    margin: 60px auto;
    display: flex;
    flex-direction: column;
    // justify-content: center;

    .banner {
        height: 500px;
        border-radius: 16px;
        background-image: url('../../../assets/images/banner-img-2.jpg.webp');
        text-align: center;
        position: relative;
        display: flex;
        align-items: end;
        justify-content: center;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        padding-bottom: 20px;

        @include screen-1440 {
            height: 400px;
        }

        @include screen-1280 {
            height: 300px;
        }

        @include screen-768 {
            height: 200px;
        }

        &::before {
            content: "";
            width: 100%;
            height: 100%;
            position: absolute;
            background-color: black;
            opacity: 0.4;
            left: 0;
            top: 0;
            border-radius: 16px;
        }

        .banner-info {
            color: white;
            font-size: 40px;
            position: relative;
            z-index: 5;

            @include screen-1024 {
                font-size: 36px;
            }

            @include screen-768 {
                font-size: 34px;
            }

            @include screen-480 {
                font-size: 30px;
            }
        }
    }

    .benefits {
        display: flex;
        border: 1px solid $border-color;
        border-radius: 25px;
        box-shadow: $box-shadow;
        margin-top: 90px;
        padding: 45px 60px;
        justify-content: space-between;

        @include screen-1600 {
            padding: 35px 45px;
        }

        @include screen-1440 {
            padding: 30px 35px;
        }

        @include screen-1280 {
            margin-top: 75px;
            padding: 25px;
        }

        @include screen-1024 {
            flex-wrap: wrap;
            padding: 15px;
        }

        @include screen-768 {
            margin-top: 40px;
        }

        .benefits-item {
            width: 24%;
            padding: 0px 28px;

            @include screen-1440 {
                padding: 0px 10px;
            }

            @include screen-1024 {
                width: 49%;
                margin-bottom: 30px;
            }

            @include screen-768 {
                width: 100%;
                justify-content: start;
                padding: 0px 10px;
            }

            p {
                font-size: 20px;
                line-height: 26px;
                margin-bottom: 5px;
                color: gray;

                @include screen-1600 {
                    font-size: 18px;
                }

                @include screen-1280 {
                    font-size: 16px;
                }

                strong {
                    color: black;
                }
            }
        }
    }

    .section {
        display: flex;
        flex-wrap: wrap;
        margin-top: 90px;

        @include screen-1280 {
            margin-top: 75px;
        }

        @include screen-768 {
            margin-top: 40px;
        }

        .section-info {
            width: 47%;
            align-self: center;
            padding: 0px 70px;

            @include screen-1600 {
                padding: 0px 50px;
            }

            @include screen-1440 {
                padding: 0px 40px;
            }

            @include screen-1280 {
                padding: 0px 30px;
            }

            @include screen-1024 {
                margin-top: 30px;
                width: 100%;
                padding: 0px;
            }

            .title {
                margin-bottom: 15px;
                font-size: 40px;
                font-weight: 600;

                @include screen-1440 {
                    font-size: 34px;
                }

                @include screen-1280 {
                    font-size: 28px;
                }

                @include screen-1024 {
                    font-size: 26px;
                }

                @include screen-768 {
                    font-size: 22px;
                }
            }

            .text {
                font-size: 22px;
                line-height: 1.3em;
                color: gray;

                @include screen-1440 {
                    font-size: 18px;
                }

                @include screen-1280 {
                    font-size: 16px;
                }

                @include screen-768 {
                    font-size: 14px;
                }
            }
        }

        .section-img {
            width: 53%;

            @include screen-1024 {
                width: 100%;
                order: -1;
            }

            img {
                width: 100%;
                height: 100%;
                border-radius: 25px;
            }
        }
    }

    .section-title {
        font-size: 45px;
        margin: 80px auto 30px;
        font-weight: bolder;
        position: relative;
        text-align: center;

        @include screen-1280 {
            font-size: 30px;
            margin-top: 75px;
        }

        @include screen-768 {
            margin-top: 40px;
        }

        &::before {
            content: '';
            position: absolute;
            top: -30px;
            left: -46px;
            width: 64px;
            height: 54px;
            background: url(../../../assets/images/title-decor.svg);
            background-repeat: no-repeat;
            background-position: center;
            background-size: contain;

            @include screen-1024 {
                display: none;
            }
        }
    }

    .section-import {
        width: 70%;
        margin: 0px auto;

        @include screen-1280 {
            width: 90%;
        }

        .video-wrapper {
            width: 100%;
            margin-bottom: 10px;

            video {
                width: 100%;
            }
        }

        p {
            margin-bottom: 25px;
            font-size: 21px;
            color: gray;
            text-align: left;
            line-height: 26px;

            @include screen-1440 {
                font-size: 18px;
            }

            @include screen-1280 {
                font-size: 16px;
                margin-bottom: 20px;
            }

            @include screen-768 {
                font-size: 14px;
                margin-bottom: 15px;
            }
        }

        img {
            width: 100%;
            height: auto;
            display: block;
            border-radius: 15px;
        }
    }

    .section-title-2 {
        font-size: 45px;
        font-weight: bolder;
        position: relative;
        margin: 80px auto 30px;
        text-align: center;

        @include screen-1280 {
            font-size: 30px;
            margin-top: 75px;
        }

        @include screen-768 {
            margin: 40px auto 0px;
        }

        &::before {
            content: '';
            position: absolute;
            top: -30px;
            left: -43px;
            width: 64px;
            height: 54px;
            background: url(../../../assets/images/title-decor.svg);
            background-repeat: no-repeat;
            background-position: center;
            background-size: contain;

            @include screen-1024 {
                display: none;
            }
        }
    }

    .contacts-section {
        width: 80%;
        display: flex;
        border: 1px solid $border-color;
        border-radius: 25px;
        box-shadow: $box-shadow;
        margin: 90px auto;
        padding: 45px 60px;
        position: relative;
        background-color: white;

        @include screen-1280 {
            margin: 50px auto;
            padding: 30px 0px;
            width: 95%;
        }

        @include screen-1024 {
            flex-direction: column;
            width: 70%;
        }

        @include screen-768 {
            width: 95%;
            margin: 30px auto;
        }

        .decor {
            position: absolute;
            z-index: -1;
            max-width: 230px;
            max-height: 230px;
            top: -90px;
            left: -110px;

            @include screen-1280 {
                display: none;
            }
        }

        .contacts-block {
            width: 35%;
            border-right: 1px solid $border-color;
            padding: 30px 50px 40px 0px;

            @include screen-1280 {
                padding: 20px 30px;
            }

            @include screen-1024 {
                width: 100%;
                border: none;
            }

            .contact-item {
                width: 100%;
                padding: 15px 0px;
                border-bottom: 1px solid $border-color;

                .title {
                    margin-bottom: 15px;
                    font-size: 20px;
                    font-weight: 600;
                }

                .email-contact {
                    margin-bottom: 15px;
                }

                .contact {
                    width: 100%;
                    display: flex;

                    img {
                        margin-right: 20px;
                    }

                    .phone,
                    .email {
                        font-size: 16px;
                        line-height: 1.5em;
                        color: gray;
                        transition: 0.5s;
                        text-decoration: none;
                        cursor: pointer;

                        &:hover {
                            color: $main-color-green;
                        }
                    }

                    .schedule {
                        font-size: 16px;
                        line-height: 1.5em;
                        color: gray;
                    }
                }

                .social {
                    display: flex;

                    a {
                        width: 35px;
                        height: 35px;
                        background-color: $main-color-red;
                        border-radius: 50%;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        cursor: pointer;
                        transition: 0.5s;
                        margin-right: 10px;

                        &:hover {
                            background-color: $main-color-green;
                            animation: hover 0.5s;
                        }

                        @keyframes hover {
                            50% {
                                transform: scale(0.5)
                            }
                        }
                    }
                }
            }

            .social-contact {
                border: none;

                @include screen-1024 {
                    border-bottom: 1px solid $border-color;
                }
            }
        }

        .contacts-form {
            width: 65%;
            text-align: center;
            padding: 30px 60px 40px;

            @include screen-1280 {
                padding: 20px 30px;
            }

            @include screen-1024 {
                width: 100%;
            }

            .form-title {
                font-size: 45px;
                font-weight: bolder;
                margin-bottom: 20px;

                @include screen-1600 {
                    font-size: 34px;
                }

                @include screen-1280 {
                    font-size: 24px;
                }

                @include screen-768 {
                    font-size: 22px;
                }
            }

            .wrapper {
                display: flex;
                gap: 10px;

                @include screen-768 {
                    flex-direction: column;
                }
            }

            input {
                width: 100%;
                font-size: 16px;
                height: 54px;
                border-radius: 12px;
                padding: 0 15px;
                border: 1px solid $border-color;
                text-overflow: ellipsis;
                margin-bottom: 15px;
                transition: 0.4s;
            }

            textarea {
                width: 100%;
                font-size: 16px;
                border-radius: 12px;
                border: 1px solid $border-color;
                text-overflow: ellipsis;
                margin-bottom: 25px;
                height: 102px;
                padding: 15px 15px 10px;
                line-height: 1.5em;
                display: block;
                resize: none;
                overflow: auto;
                transition: 0.4s;
            }

            input:focus,
            textarea:focus {
                border: 1px solid $main-color-green;
            }

            .faq-btn-wrapper {
                display: flex;
                justify-content: space-between;
                align-items: center;

                @include screen-480 {
                    flex-direction: column;
                }

                .upload-wrapper {
                    display: flex;
                    align-items: center;

                    svg {
                        margin-right: 10px;
                    }

                    .upload-file-wrapper {

                        #upload_file {
                            display: none;
                        }

                        .upload-file {
                            cursor: pointer;
                            color: $main-color-red;
                            font-size: 16px;

                            &:hover {
                                color: $main-color-green;
                            }
                        }

                        p {
                            font-size: 12px;
                            color: gray;
                        }
                    }
                }

                button {
                    font-size: 14px;
                    width: 35%;
                    height: 46px;
                    color: white;
                    border-radius: 12px;
                    font-weight: 600;
                    background-color: $main-color-red;
                    cursor: pointer;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    transition: 0.5s;

                    @include screen-480 {
                        width: 100%;
                        margin-top: 10px;
                    }

                    &:hover {
                        background-color: $main-color-green;
                    }

                    svg {
                        margin-left: 15px;
                        width: 20px;
                        height: 20px;
                        display: block;
                    }
                }
            }
        }
    }
}