@import "../../shared/styles/variables";
@import "../../shared/styles/mixins";

.container {
    width: 80%;
    margin: 50px auto;
    display: flex;
    align-items: center;
    flex-direction: column;

    @include screen-1280 {
        width: 100%;
        padding: 0px 30px;
    }

    .title {
        font-size: 45px;
        font-weight: bolder;
        position: relative;

        @include screen-1024 {
            font-size: 30px;
        }

        @include screen-480 {
            font-size: 24px;
            text-align: center;
        }

        &::before {
            content: '';
            position: absolute;
            top: -30px;
            left: -50px;
            width: 64px;
            height: 54px;
            background: url(../../../assets/images/title-decor.svg);
            background-repeat: no-repeat;
            background-position: center;
            background-size: contain;

            @include screen-1024 {
                display: none;
            }
        }
    }

    .faq {
        display: flex;
        margin-top: 50px;
        margin-bottom: 50px;
        justify-content: space-between;
        align-items: flex-start;

        @include screen-1024 {
            width: 100%;
            flex-direction: column;
            margin-top: 30px;
        }

        .accordion {
            width: 62%;

            @include screen-1024 {
                width: 100%;
                margin-bottom: 30px;
            }

            .accordion-item {
                padding: 10px 0px;
                border-top: 1px solid $border-color;

                .accordion-title {
                    display: block;
                    cursor: pointer;
                    position: relative;
                    font-weight: bolder;
                    font-size: 20px;
                    padding: 10px 16px;
                    transition: 0.4s;

                    @include screen-1600 {
                        font-size: 19px;
                    }

                    @include screen-1280 {
                        font-size: 18px;
                    }

                    @include screen-768 {
                        padding: 10px 16px 10px 0px;
                    }

                    @include screen-480 {
                        font-size: 16px;
                    }

                    &::after {
                        content: "";
                        display: block;
                        border-style: solid;
                        border-width: 10px 6px 0 6px;
                        border-color: gray transparent transparent transparent;
                        position: absolute;
                        top: 50%;
                        right: 6px;
                        transform: translateY(-50%);
                    }

                    &:hover {
                        color: $main-color-green;
                    }

                    &:hover:after {
                        border-color: $main-color-green transparent transparent transparent;
                    }
                }

                .accordion-input {
                    appearance: none;
                    position: absolute;

                    &:checked~.accordion-title {
                        color: $main-color-green;
                    }

                    &:checked~.accordion-title::after {
                        border-style: solid;
                        border-width: 0px 6px 10px 6px;
                        border-color: transparent transparent $main-color-green transparent;
                    }

                    &:checked~.accordion-text {
                        display: block;
                    }
                }

                .accordion-text {
                    display: none;
                    color: gray;
                    font-size: 16px;
                    padding: 15px 25px 15px 15px;
                    line-height: 1.3em;

                    @include screen-1024 {
                        padding: 10px 25px 10px 15px;
                    }

                    @include screen-768 {
                        padding: 10px 0px;
                    }

                    @include screen-480 {
                        font-size: 14px;
                    }
                }
            }

            .last-item {
                border-bottom: 1px solid $border-color;
            }
        }

        .faq-form {
            width: 35%;
            border: 1px solid $border-color;
            border-radius: 25px;
            box-shadow: $box-shadow;
            text-align: center;
            padding: 25px;

            @include screen-1600 {
                padding: 20px;
            }

            @include screen-1024 {
                width: 100%;
                flex-direction: column;
            }

            .faq-form-title {
                font-size: 30px;
                font-weight: bolder;
                margin-bottom: 25px;

                @include screen-1280 {
                    font-size: 28px;
                }

                @include screen-480 {
                    font-size: 22px;
                }
            }

            input {
                width: 100%;
                font-size: 16px;
                height: 54px;
                border-radius: 12px;
                padding: 0 15px;
                border: 1px solid $border-color;
                text-overflow: ellipsis;
                overflow: hidden;
                margin-bottom: 15px;
                transition: 0.4s;

                @include screen-1280 {
                    font-size: 14px;
                }
            }

            textarea {
                width: 100%;
                font-size: 16px;
                border-radius: 12px;
                border: 1px solid $border-color;
                text-overflow: ellipsis;
                margin-bottom: 25px;
                height: 102px;
                padding: 15px 15px 10px;
                line-height: 1.5em;
                display: block;
                resize: none;
                overflow: auto;
                transition: 0.4s;

                @include screen-1280 {
                    font-size: 14px;
                }
            }

            input:focus,
            textarea:focus {
                border: 1px solid $main-color-green;
            }

            .faq-btn-wrapper {
                display: flex;
                justify-content: space-between;
                align-items: center;

                @include screen-480 {
                    flex-direction: column;
                }

                .upload-wrapper {
                    display: flex;
                    align-items: center;

                    svg {
                        margin-right: 10px;
                    }

                    .upload-file-wrapper {

                        #upload_file {
                            display: none;
                        }

                        .upload-file {
                            cursor: pointer;
                            color: $main-color-red;
                            font-size: 16px;

                            &:hover {
                                color: $main-color-green;
                            }
                        }

                        p {
                            font-size: 12px;
                            color: gray;
                        }
                    }
                }

                button {
                    font-size: 14px;
                    width: 35%;
                    height: 46px;
                    color: white;
                    border-radius: 12px;
                    font-weight: 600;
                    background-color: $main-color-red;
                    cursor: pointer;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    transition: 0.5s;

                    @include screen-1600 {
                        width: 40%;
                    }

                    @include screen-480 {
                        width: 100%;
                        margin-top: 10px;
                    }

                    &:hover {
                        background-color: $main-color-green;
                    }

                    svg {
                        margin-left: 15px;
                        width: 20px;
                        height: 20px;
                        display: block;
                    }
                }
            }
        }
    }
}